.formContent {
  margin-top: rem(32px);
  display: flex;
  width: 100%;

  @include mobile {
    display: block;
  }

  .formLeft {
    width: rem(432px);
    min-height: rem(432px);
    
    @include mobile {
      width: 100%;
      min-height: auto;
      margin-bottom: rem(32);
    }

    .formItem {
      height: 100%;
      margin-bottom: 0;
    }

    .dropZoneContainer {
      height: 100%;
      label {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .formRight {
    width: calc(100% - 432px);
    padding-left: rem(48px);
    
    @include mobile {
      width: 100%;
      padding-left: 0;
    }
  }
}

.mintTool {
  padding-top: rem(60px);
  padding-bottom: rem(60px);
  background: #e5ecf6;

  .container {
    margin: 0 auto;
    padding: rem(48px);
    width: rem(1276px);
    max-width: 100%;
    background: #ffffff;
    box-shadow: 35px 15px 120px rgba(0, 0, 0, 0.15);
    
    @include mobile {
      width: 100%;
    }
  }

  @include mobile {
    padding: rem(24px);
  }

  .title {
    font-weight: 500;
    font-size: rem(34px);
    line-height: rem(34px);
    margin-bottom: rem(10px);
  }

  .sub_title {
    font-size: rem(20px);
    color: $black-60-solid;
    line-height: rem(30px);
    margin-bottom: rem(32px);
  }

  .upload_title {
    font-size: rem(24px);
    line-height: rem(34px);
    color: $black-100;
  }

  .upload_sub_title {
    font-weight: 400;
    font-size: rem(16px);
    line-height: rem(26px);
    color: $black-60-solid;
    margin-bottom: rem(24px);
  }

  .alertInfo {
    font-size: rem(14px);
    line-height: rem(22px);
    color: #4185ec;
    padding: rem(6px) rem(16px);
    background: #e3f5ff;
    border: 1px solid #4185ec;
    border-radius: rem(2px);
    margin-bottom: rem(24px);
  }

  .info {
    font-size: rem(14px);
    line-height: rem(22px);
    color: $black-60;
    border-radius: rem(2px);
    margin-bottom: rem(24px);
  }

  .formItem {
    margin-bottom: rem(32px);
    width: 100%;
  }

  .label {
    color: $black-100;
    font-weight: 500;
    font-size: rem(24px);
    line-height: rem(34px);
    margin-bottom: rem(8px);
  }

  .labelNoBottom {
    color: $black-100;
    font-weight: 500;
    font-size: rem(24px);
    line-height: rem(34px);
  }

  strong {
    color: $secondary-red;
  }

  .inputContainer {
    position: relative;

    .inputPostfix {
      min-width: rem(54px);
      text-align: center;
      position: absolute;
      right: rem(14px);
      top: rem(12px);
      font-weight: 500;
      line-height: (26/16);

      @include calcFontAuto(14px, 16px);

      color: $black-100;
      padding-left: rem(8px);
      border-left: 1px solid $black-20;
    }
  }

  .input {
    background-color: $white-100;
    font-weight: 400;
    font-size: rem(16px);
    line-height: rem(26px);
    color: $black-100;
    padding: rem(11px) rem(14px);
    border: 1px solid $black-10;
    border-radius: rem(2px);
    width: 100%;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $black-40;
      opacity: 1; /* Firefox */
    }

    &:input-placeholder {
      /* Internet Explorer 10-11 */
      color: $black-40;
    }

    &::input-placeholder {
      /* Microsoft Edge */
      color: $black-40;
    }

    &:disabled {
      background-color: #f8f8f8;
    }
  }

  .requiredTag {
    color: $secondary-red;
  }

  .inputError {
    font-size: rem(14px);
    font-weight: 400;
    color: $secondary-red;
    line-height: rem(20px);
    margin-top: rem(6px);
  }

  .qrCodeContainer {
    @include mobile {
      flex-direction: column;
    }
  }

  .qrTitle {
    font-weight: 500;
    font-size: rem(24px);
    line-height: rem(34px);
    margin-bottom: rem(24px);
    color: $black-100;

    @include mobile {
      text-align: center;
    }
  }

  .qrCodeWrapper {
    display: flex;
    flex-direction: row;

    @include mobile {
      flex-direction: column;
      align-items: center;
    }

    .qrCodeGenerator {
      padding: 0;
    }

    .qrCodeContentWrapper {
      margin-left: rem(32px);
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include mobile {
        width: 100%;
        min-height: rem(130px);
        margin-top: rem(24px);
      }

      .btcSent {
        font-weight: 500;
        font-size: rem(18px);
        line-height: rem(28px);
        color: $black-100;

        @include mobile {
          text-align: center;
        }

        span {
          color: #4f43e2;
        }
      }

      .btcAddress {
        width: 100%;
        font-size: rem(16px);
        line-height: rem(26px);
        word-break: break-all;
        border: 1px solid $black-outline;
        padding: 11px rem(14px);
        position: relative;

        .btnCopy {
          position: absolute;
          right: rem(12px);
          margin: 0;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
          font-weight: 500;
          font-size: rem(16px);
          line-height: rem(26px);

          :hover {
            opacity: 0.8;
          }
        }
      }
    }
  }

  .actionWrapper {
    display: flex;
    justify-content: center;
    margin-top: rem(32px);

    .end {
      border: 1px solid #e9e9e9;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: rem(10px);
      gap: rem(10px);
      width: rem(700px);
      height: rem(50px);
    }
  }

  .loadingWrapper {
    position: relative;
    padding: rem(80);
  }

  .mintFeeWrapper {
    display: flex;
    gap: rem(12px);

    @include mobile {
      gap: (6px);
    }

    .mintFeeItem {
      width: 100%;
      padding: rem(24px);
      border: 1px solid $black-10;
      border-radius: rem(2px);
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      @include mobile {
        padding: rem(10px) rem(8px);
      }

      &__active {
        border: 2px solid #4185ec;
      }

      .feeTitle {
        font-weight: 500;
        font-size: rem(24px);
        line-height: rem(34px);
      }

      .feeDetail {
        font-weight: 400;
        font-size: rem(18px);
        line-height: rem(28px);
        margin-bottom: rem(16px);
        color: $black-60;
      }

      .feeTotal {
        font-weight: 500;
        font-size: rem(20px);
        line-height: rem(30px);
        color: #4f43e2;
      }
    }
  }

  .inscriptionInfoWrapper {
    margin-bottom: rem(24px);

    .expiredAt {
      font-weight: 400;
      font-size: rem(16px);
      line-height: rem(26px);
      text-align: center;

      @include mobile {
        text-align: center;
      }
    }
  }
}
