.filterWrapper {
  margin-top: rem(16);
  margin-bottom: rem(16);
}

.layout_left {
  max-height: calc(100vh - #{rem(210)});
  overflow-y: scroll;
  flex: 0 0 30%;
  width: 30%;
  display: none;

  @include min-tablet {
    display: block;
  }

  @include min-pc {
    flex: 0 0 20%;
    width: 20%;
  }

  @include disable-scrollbar;

  padding-right: rem(24);
  border-right: 1px solid $black-5;

  :global(.nav-tabs) {
    top: 0;
    position: sticky;
    background-color: white;
    padding-top: rem(24);
  }

  @include mobile {
    display: none;
  }

  .overflow {
    * {
      line-height: (26/16);

      @include calcFontAuto(14px, 16px);
    }
  }

  .shares_wrapper {
    margin-top: rem(16);
    margin-bottom: rem(24);
  }

  :global(.select__control) {
    min-width: unset;
    width: 100%;
  }
}

.layout_middle {
  flex: 0 0 100%;
  width: 100%;

  @include min-tablet {
    padding: rem(24);
    flex: 0 0 70%;
    width: 70%;
  }

  @include min-pc {
    flex: 0 0 55%;
    width: 55%;
  }

  @include min-pc-wide {
    flex: 0 0 60%;
    width: 60%;
  }

  .spacing {
    padding-top: rem(24);
    max-height: calc(100vh - #{rem(300)});
    overflow-y: scroll;

    @include disable-scrollbar;

    @include mobile {
      max-height: unset;
    }
  }
}

.tabs {
  gap: rem(32);
  // border: none;
  flex-wrap: nowrap;

  :global(.nav-link) {
    white-space: nowrap;
    color: $black-40;
    font-size: rem(14px);
    font-weight: 500;
    border: none;
    padding: 0;
    padding-bottom: rem(10);

    &:hover {
      color: $black-60;
    }
  }

  :global(.nav-link.active) {
    border-bottom: 2px solid $primary-brand;
  }
}

.tabContent {
  padding-top: rem(24px);
}

.layout_right {
  padding-top: rem(12);
  flex: 0 0 100%;
  width: 100%;
  margin-bottom: rem(40px);

  @include min-pc {
    margin-bottom: 0;
    flex: 0 0 25%;
    width: 25%;
    padding-left: rem(24);
    border-left: 1px solid $black-5;
  }

  @include min-pc-wide {
    flex: 0 0 20%;
    width: 20%;
  }
}
