.filterWrapper {
  margin-top: rem(16);
  margin-bottom: rem(16);
}

.itemsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid $black-5;
  margin-top: rem(20px);
  padding-bottom: rem(8px);
}

.icCheckbox {
  cursor: pointer;
}

.textItems {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  margin-left: 16px;
  color: #898989;
}

.layout_left {
  max-height: calc(100vh - #{rem(210)});
  overflow-y: scroll;
  flex: 0 0 30%;
  width: 30%;
  display: none;

  @include min-tablet {
    display: block;
  }

  @include min-pc {
    flex: 0 0 20%;
    width: 20%;
  }

  @include disable-scrollbar;

  padding-right: rem(24);
  border-right: 1px solid $black-5;

  :global(.nav-tabs) {
    top: 0;
    position: sticky;
    background-color: white;
    padding-top: rem(24);
    z-index: 2;
  }

  @include mobile {
    display: none;
  }

  .overflow {
    * {
      line-height: (26/16);

      @include calcFontAuto(14px, 16px);
    }
  }

  .shares_wrapper {
    margin-top: rem(16);
    margin-bottom: rem(24);
  }

  :global(.select__control) {
    min-width: unset;
    width: 100%;
  }
}

.layout_middle {
  flex: 0 0 100%;
  width: 100%;
  margin-bottom: rem(4px);
  position: relative;

  @include min-tablet {
    padding: rem(24);
    flex: 0 0 70%;
    width: 70%;
  }

  @include min-pc {
    flex: 0 0 55%;
    width: 55%;
  }

  @include min-pc-wide {
    flex: 0 0 60%;
    width: 60%;
  }

  .buy_bottom {
    position: absolute;
    left: rem(0);
    right: rem(0);
    bottom: rem(16px);
    border-top: 1px solid #f2f2f2;
    z-index: 2;
    background: white;
  }

  .spacing {
    padding-top: rem(24);
    max-height: calc(100vh - #{rem(340)});
    overflow-y: scroll;

    @include disable-scrollbar;

    @include mobile {
      max-height: unset;
    }
  }

  .view_option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $black-5;

    .view_title {
      padding-bottom: rem(10);
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $primary-brand;
        border-radius: rem(40px);
      }
    }

    .view_layout {
      .view_list_ic {
        cursor: pointer;

        svg,
        path {
          stroke: $black-40;

          &:hover {
            stroke: $black-100;
          }
        }

        &.active {
          svg,
          path {
            stroke: $black-100;
          }
        }
      }

      .view_grid_ic {
        cursor: pointer;

        svg,
        path {
          stroke: $black-40;

          &:hover {
            stroke: $black-100;
          }
        }

        &.active {
          svg,
          path {
            stroke: $black-100;
          }
        }
      }
    }
  }
}

.tabs {
  gap: rem(32);
  flex-wrap: nowrap;

  --bs-nav-tabs-border-color: #{$black-5} !important;

  :global(.nav-link) {
    white-space: nowrap;
    color: $black-40;
    font-size: rem(14px);
    font-weight: 500;
    border: none;
    padding: 0;
    padding-bottom: rem(10);

    &:hover {
      color: $black-60;
    }
  }

  :global(.nav-link.active) {
    border-bottom: 2px solid $primary-brand;
  }
}

.tabContent {
  padding-top: rem(24px);
}

.layout_right {
  padding-top: rem(12);
  flex: 0 0 100%;
  width: 100%;
  margin-bottom: rem(40px);

  @include min-pc {
    margin-bottom: 0;
    flex: 0 0 25%;
    width: 25%;
    padding-left: rem(24);
    border-left: 1px solid $black-5;
  }

  @include min-pc-wide {
    flex: 0 0 20%;
    width: 20%;
  }
}

.itemInfo {
  display: flex;
  align-items: center;
  gap: rem(16);
}

.itemThumbnail {
  width: 40px;
  height: 40px;
  padding: 4px;
  object-fit: cover;
  object-position: center;
  background-color: $primary-light;
}

.buy_btn {
  display: flex;
  align-items: center;
  gap: rem(8);
  justify-content: flex-end;

  button {
    max-height: rem(30px);
  }
}

.table_wrapper {
  max-height: calc(100vh - #{rem(350)});
  overflow: auto;

  @include disable-scrollbar;
}

.dataTable {
  * {
    font-size: rem(14) !important;
  }

  :global(tbody) {
    max-height: calc(100vh - #{rem(400)});
    overflow-y: scroll;

    @include disable-scrollbar;
  }

  :global(thead th:not(:nth-child(2))) {
    text-align: right;
  }

  :global(tbody tr) {
    border: none !important;
  }

  :global(tbody td) {
    padding-top: rem(4) !important;
    padding-bottom: rem(4) !important;
    text-align: right;
  }

  :global(tbody td:first-of-type) {
    width: rem(20);
  }
}

.checkbox {
  display: grid;
  place-items: center;
}

.checkbox > input {
  height: rem(16);
  width: rem(16);
  appearance: none;
  border-radius: 2px;
  outline: none;
  transition-duration: 0.3s;
  border: 1px solid $black-20;
  cursor: pointer;
}

.checkbox > input:checked {
  background-image: url("https://cdn.generative.xyz/icons/ic_checkboxed.svg");
  background-size: contain;
  border: none;
  transition-duration: 0.3s;
}

.checkbox > input:active {
  border: 2px solid #34495e;
}

.tokenListWrapper {
  position: relative;
  min-height: rem(584px);
}

.tokenLoadListWrapper {
  position: relative;
}
