.orderNow {
  margin-top: rem(32px);

  @include min-pc {
    margin-top: rem(64px);
  }

  &_rowFrame {
    margin-top: rem(24px);
    row-gap: rem(32px);
    padding-bottom: rem(40px);
    @include min-tablet {
      padding-bottom: rem(80px);
      margin-top: rem(48px);
    }
  }

  &_header {
    text-align: center;

    ul{
      display: flex;
      justify-content: center;
      gap: 5px;
    }

    a {
      &:hover {
        color: $primary-brand;
        text-decoration: none;
      }
    }
  }
}
