.orderNow {
  margin-top: rem(32px);

  @include min-pc {
    margin-top: rem(64px);
  }

  &_rowFrame {
    margin-top: rem(24px);

    @include min-tablet {
      margin-top: rem(48px);
    }
  }

  &_header {
    text-align: center;

    a {
      &:hover {
        color: $primary-brand;
        text-decoration: none;
      }
    }
  }
}
