.generativeLogo {
  width: rem(44px);
  height: rem(44px);
  position: relative;
  z-index: 2;

  @include min-tablet {
    width: rem(60px);
    height: rem(60px);
    max-width: 60px;
    max-height: 60px;
  }
}

.generativeLogoWrap {
  position: relative;

  img {
    position: absolute;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }
}
