.generativeLogo {
  width: rem(54px);
  height: rem(54px);
  position: relative;
  z-index: 2;

  @include min-tablet {
    width: rem(64px);
    height: rem(64px);
    max-width: 64px;
    max-height: 64px;
  }
}

.generativeLogoWrap {
  position: relative;

  img {
    position: absolute;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }
}
