.wrapper {
  max-height: calc(100vh - #{rem(350)});
  overflow: auto;

  @include disable-scrollbar;

  thead {
    border-bottom-color: $black-5 !important;
  }
}

.activitiesScroller {
  position: relative;
}

.collectionActivityTable {
  * {
    font-size: rem(14) !important;
  }

  .price {
    max-width: rem(100);
  }

  :global(tbody) {
    max-height: calc(100vh - #{rem(400)});
    overflow-y: scroll;

    @include disable-scrollbar;
  }

  :global(thead th:not(:first-of-type)) {
    text-align: right;
  }

  :global(tbody tr) {
    border: none !important;
  }

  :global(tbody td) {
    padding-top: rem(7) !important;
    padding-bottom: rem(7) !important;
    text-align: right;
  }
}
