.dropDownWrapper {
  @include w-max(500px) {
    width: 100%;
  }

  .selectInput {
    :global(.select__control) {
      background-color: $white-100;
      outline: none;
      box-shadow: none;
      border-radius: 0;
      min-height: 52px;
      //   border: 2px solid $black-20;
      border: none;
      min-width: rem(45px);
    }

    :global(.select__value-container) {
      padding: 0;
    }

    :global(.select__indicator-separator) {
      display: none;
    }

    :global(.select__placeholder) {
      color: $black-100;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
    }

    :global(.select__multi-value__label) {
      color: $black-100;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
    }

    :global(.select__input-container) {
      color: $black-100;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
    }

    :global(.select__menu) {
      border-radius: 2px;
      box-shadow: 35px 15px 120px 0 #00000026;
      width: rem(100);
      transform: translateX(-50%);
      z-index: 20;
    }

    :global(.select__menu-list) {
      padding: 0;
    }

    :global(.select__input-container) {
      color: $black-100;
    }

    :global(.select__option) {
      padding: rem(10) rem(16);
      font-weight: 400;
      line-height: (26/16);

      @include calcFontAuto(14px, 16px);

      &:hover {
        background-color: $black-5;
      }
    }

    :global(.select__option--is-focused) {
      background-color: $white;
    }

    :global(.select__option--is-selected) {
      background-color: $white;
      color: $black-100;

      &:hover {
        background-color: $black-5;
        color: $black-100;
      }
    }
  }
}
