.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  padding: rem(0) rem(24px);

  .leftContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .rightContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 2px;
    border: 2px solid #f2f2f2;
    height: 34px;
    padding-left: 16px;
    padding-right: 16px;

    .input {
      width: 34px;
      margin-right: 16px;
      border-right: 1px solid #f2f2f2;
    }

    .track {
      height: rem(4px);
      width: 160px;
      border-radius: rem(8px);

      @include mobile {
        width: 100px;
      }

      @include tablet {
        width: 120px;
      }
    }

    .thumb {
      width: rem(8px);
      height: rem(8px);
      border-radius: rem(8px);
      background: #1c1c1c;
    }
  }
}
