.filter {
  margin: rem(24) 0;
  color: $black-100;

  &_totalResult {
    margin-bottom: rem(24);
    font-weight: 500;
    font-size: rem(34);
    line-height: rem(44);

    span {
      font-weight: 700;
    }
  }

  &_tag {
    display: flex;
    align-items: center;
    padding: rem(11) rem(20);
    border: 1px solid #b6b6b6;
    border-radius: rem(2);
    font-weight: 400;
    font-size: rem(16);
    line-height: rem(26);

    span {
      margin-right: rem(6);
    }

    svg:hover {
      cursor: pointer;
    }
  }

  &_title {
    margin: 5.8rem 0 3rem;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
  }
}
