.tabWrapper {
  color: $black-60;
  cursor: pointer;
  padding-bottom: rem(10);
  width: fit-content;

  p {
    width: 100%;
    max-width: rem(250);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &.default-1 {
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2px;
      border-radius: 50px;
      background-color: transparent;
    }

    &.active,
    &:hover {
      color: $black-100;
    }

    &.active {
      &::after {
        background-color: $black-100;
      }
    }
  }

  &.default-2 {
    &.active,
    &:hover {
      color: $black-100;
    }
  }

  &.default-3 {
    padding: rem(7) rem(14);
    border: 1px solid $black-10;
    // border-radius: rem(8);
    // transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &.active,
    &:hover {
      color: $white;
      background-color: $black-100;
    }
  }
}
