.modalWrapper {
  :global(.modal-dialog) {
    min-width: fit-content;
  }

  :global(.modal-content) {
    width: fit-content;
    border-radius: 2px;
    padding: rem(48px) rem(24px);
    position: relative;
  }

  :global(.modal-body) {
    width: 100%;

    @include min-tablet {
      width: rem(680px);
    }

    @include min-pc-superWide {
      width: rem(680px);
    }
  }
}

.modalHeader {
  display: flex;
  justify-content: flex-end;
  border: none;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.closeBtn {
  padding: rem(18.8) !important;
  background-color: transparent !important;
  position: absolute;
  right: 0;
  top: 0;
  // transform: translate(-18px, 18px);

  &:hover {
    .closeIcon {
      transform: rotate(90deg);
      transition: all 0.3s;

      :global(svg path) {
        fill: $black-100;
        fill-opacity: 1;
      }
    }
  }
}

.formItem {
  margin-bottom: 16px;
  width: 100%;
  margin-top: 16px;
}

.label {
  font-weight: 500;
  font-size: rem(12px);
  line-height: rem(20px);
  color: $black-60;
  display: block;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.subLabel {
  font-weight: 500;
  font-size: rem(12px);
  line-height: rem(16px);
  color: $black-40;
  display: block;
  margin-bottom: 6px;
  margin-top: 4px;
}

.inputContainer {
  position: relative;

  .inputPostfix {
    min-width: 54px;
    text-align: center;
    position: absolute;
    right: 14px;
    top: 12px;
    font-weight: 500;
    line-height: (26/16);

    @include calcFontAuto(14px, 16px);

    color: $black-100;
    padding-left: 8px;
    border-left: 1px solid $black-20;
  }
}

.input {
  background-color: $white-100;
  font-weight: 400;
  font-size: rem(16px);
  line-height: rem(26px);
  color: $black-100;
  padding: rem(11px) rem(14px);
  border: 1px solid $black-10;
  border-radius: 2px;
  width: 100%;

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $black-40;
    opacity: 1; /* Firefox */
  }

  &:input-placeholder {
    /* Internet Explorer 10-11 */
    color: $black-40;
  }

  &::input-placeholder {
    /* Microsoft Edge */
    color: $black-40;
  }

  &:disabled {
    background-color: #f8f8f8;
  }
}

.requiredTag {
  color: $secondary-red;
}

.inputError {
  font-size: rem(14px);
  font-weight: 400;
  color: $secondary-red;
  line-height: rem(20px);
  margin-top: rem(6px);
}

.sendBtn {
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100%;
}
