@import "src/styles/_themes/variables.scss";
@import "src/styles/_themes/mixins.scss";

.projectCard {
  text-decoration: none;
  position: relative;

  &_inner {
    background: #fff;
    min-height: 100%;
  }

  &_status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &_cancelBtn {
      display: flex;
      justify-content: center;
      align-self: center;
      margin-right: rem(16px);
      padding: 5px 14px;
      width: 72px;
      height: 34px;
      background: $black-5;
      border-radius: 2px;
      cursor: pointer;

      :hover {
        color: $black-60-solid;
      }
    }

    &_sendBtn {
      display: flex;
      justify-content: center;
      margin-right: rem(16px);
      padding: 5px 14px;
      border-radius: 2px;
      cursor: pointer;
      width: 72px;
      height: 34px;

      :hover {
        color: $black-60-solid;
      }
    }
  }

  &_thumb {
    position: relative;
    width: 100%;
    background: #f7f9fb;
    padding: rem(32px);

    &_backdrop {
      position: absolute;
      backdrop-filter: blur(5px);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgb(255 255 255 / 25%);
    }

    @include min-pc-superWide {
      padding: 32px;
    }

    @include mobile {
      padding: rem(8px);
    }

    &_inner {
      padding-bottom: 100%;
      position: relative;
      min-height: 100%;

      &_sk {
        height: 100%;
        position: absolute;
      }

      &_mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
      }
    }

    &_box {
      width: 100%;
      height: 100%;

      &_content {
        position: absolute;
        width: rem(200px);
        height: rem(200px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &.isDefault {
      img {
        width: rem(200px);
        height: rem(200px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    :global(.label_text) {
      position: absolute;
      bottom: rem(16px);
    }
  }

  &_info_wrapper {
    display: flex;
  }

  &_info {
    position: relative;
    padding: {
      top: rem(24px);
      left: rem(16px);
      right: rem(16px);
      bottom: rem(16px);
    }

    @include mobile {
      top: rem(12px);
      left: rem(6px);
      right: rem(6px);
      bottom: rem(6px);
    }

    &_btnShare {
      display: flex;
      align-items: center;
    }

    &.desktop {
      .projectCard_info_title {
        display: block;
        margin-bottom: rem(12px);
        font-style: italic;

        span {
          white-space: nowrap;
          text-overflow: ellipsis;
          display: block;
          overflow: hidden;
        }
      }

      :global(.useInfo) {
        margin-bottom: rem(10px);
      }
    }

    &.mobile {
      padding-left: rem(10px);
      padding-right: rem(10px);
      padding-bottom: rem(12px);
      padding-top: rem(16px);

      .projectCard_progress {
        margin-top: rem(5);
      }
    }

    &_share {
      margin-right: rem(16px);
    }
  }

  &:hover {
    cursor: pointer;
  }

  &_creator {
    display: flex;
    align-items: center;
    gap: rem(6);

    &_status {
      font-style: italic;

      &_underline {
        text-decoration: underline;
      }
    }
  }

  &_avatar {
    width: rem(34);
    height: rem(34);
    border-radius: 50%;
    overflow: hidden;
  }

  &_progress {
    width: 100%;
    height: rem(32);
  }

  transition: box-shadow 0.4s $easeOutCubic, border-color 0.4s $easeOutCubic;
  border: 1px solid transparent;

  &:hover {
    box-shadow: 0 2px 10px rgb(0 0 0 / 15%);
    border-color: rgba(#1c1c1c, 0.3);
  }
}

.countDown {
  background: $primary-brand;
  color: white;
  display: inline-block;
  min-width: rem(160px);
  text-align: center;
  padding: rem(7px);
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: box-shadow 0.4s $easeOutCubic, border-color 0.4s $easeOutCubic;
  border: 1px solid transparent;

  &:hover {
    box-shadow: 0 2px 10px rgb(0 0 0 / 15%);
    border-color: rgba(#1c1c1c, 0.3);
  }
}

.row {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  gap: rem(4px);
  flex-wrap: wrap;

  button {
    font-size: 14px !important;
  }
}
