.recentWorks {
  &_title {
    text-align: center;
    margin-bottom: rem(32px);
  }

  &_projects {
    margin-top: rem(26px);
    position: relative;

    @include mobile {
      margin-top: rem(24px);
    }
  }

  &_heading {
    justify-content: space-between;
    align-items: center;
    row-gap: rem(20);

    &_col {
      margin-top: 0;

      &:nth-child(1) {
        @include mobile {
          margin-bottom: rem(16px);
        }
      }
    }
  }

  .category_list {
    display: flex;
    align-items: center;
    gap: rem(10);
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    @include w-max(768px) {
      order: 1;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .sort_dropdown {
    display: flex;
    align-items: center;
    gap: rem(16px);
  }
}
