.recentWorks {
  &_header {
    margin-top: rem(58px);
    margin-bottom: rem(30px);

    @include min-tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &_title {
    @include mobile {
      margin-bottom: rem(16px);
    }
  }

  &_projects {
    margin-top: rem(48px);
    position: relative;

    @include mobile {
      margin-top: rem(34px);
    }
  }

  .category_list {
    display: flex;
    align-items: center;
    gap: rem(24px);
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .sort_dropdown {
    margin-left: auto;

    :global(.select__control) {
      min-width: auto;
      border: none;
    }

    :global(.select__single-value) {
      line-height: (30/20);

      @include calcFontAuto(16px, 20px);
    }

    :global(.select__indicator) {
      color: $primary-brand;
    }
  }
}
