.text {
  &.size {
    &-d1 {
      font-size: rem(128px);
      line-height: rem(138px);
    }

    &-d2 {
      font-size: rem(96px);
      line-height: rem(106px);
    }

    &-d3 {
      font-size: rem(40px);
      line-height: rem(50px);

      @include min-tablet {
        font-size: rem(72px);
        line-height: rem(82px);
      }
    }

    &-24 {
      line-height: (34 / 24);
      @include calcFontAuto(18px, 24px);
    }

    &-20 {
      line-height: (30/20);
      @include calcFontAuto(18px, 20px);
    }

    &-18 {
      line-height: (28/18);
      @include calcFontAuto(16px, 18px);
    }

    &-16 {
      line-height: (26/16);
      @include calcFontAuto(14px, 16px);
    }

    &-14 {
      line-height: (24/14);
      font-size: rem(14px);
    }

    &-12 {
      line-height: (20/12);
      font-size: 12px;
      @include min-pc-wide {
        font-size: rem(12px);
      }
    }

    &-11 {
      line-height: (18/11);
      font-size: 11px;
    }
  }

  &.size-d1,
  &.size-d2,
  &.size-d3 {
    letter-spacing: -0.02em;
  }

  &.size-18,
  &.size-16,
  &.size-14,
  &.size-12 {
    letter-spacing: -0.01em;
  }
}
