.mintBTCGenerativeModal {
  .backdrop {
    background: $black-40;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
  }

  .modalWrapper {
    background: #fff;
    box-shadow: -10px 0 40px $black-20;
    transition: all 0.2s ease-in;
    z-index: 20;
    border-radius: 2px;
    width: 90%;
    overflow-y: scroll;
    max-height: 90%;

    @include min-tablet {
      width: 520px;
    }

    @include min-pc-superWide {
      width: rem(520px);
    }
  }

  .modalHeader {
    padding-top: rem(20px);
    padding-left: rem(20px);
    padding-right: rem(20px);
    padding-bottom: rem(8px);
    display: flex;
    justify-content: flex-end;
  }

  .closeBtn {
    padding: 0;
    background-color: transparent !important;

    &:hover {
      .closeIcon {
        transform: rotate(90deg);
        transition: all 0.3s;

        :global(svg path) {
          fill: $black-100;
          fill-opacity: 1;
        }
      }
    }
  }

  .modalBody {
    padding-bottom: rem(24px);
    padding-left: rem(16px);
    padding-right: rem(16px);

    @include tablet {
      padding-bottom: rem(34px);
      padding-left: rem(24px);
      padding-right: rem(24px);
    }

    @include min-pc {
      padding-bottom: rem(48px);
      padding-left: rem(48px);
      padding-right: rem(48px);
    }
  }

  .modalTitle {
    font-weight: 700;
    color: $black-100;
    margin-bottom: rem(24px);
    line-height: (34 / 24);

    @include calcFontAuto(18px, 24px);
  }

  .formItem {
    margin-bottom: 16px;
    width: 100%;
  }

  .label {
    font-weight: 500;
    font-size: rem(12px);
    line-height: rem(20px);
    color: $black-60;
    display: block;
    margin-bottom: 6px;
    text-transform: uppercase;
  }

  .inputContainer {
    position: relative;

    .inputPostfix {
      min-width: 54px;
      text-align: center;
      position: absolute;
      right: 14px;
      top: 12px;
      font-weight: 500;
      line-height: (26/16);

      @include calcFontAuto(14px, 16px);

      color: $black-100;
      padding-left: 8px;
      border-left: 1px solid $black-20;
    }
  }

  .input {
    background-color: $white-100;
    font-weight: 400;
    font-size: rem(16px);
    line-height: rem(26px);
    color: $black-100;
    padding: rem(11px) rem(14px);
    border: 1px solid $black-10;
    border-radius: 2px;
    width: 100%;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $black-40;
      opacity: 1; /* Firefox */
    }

    &:input-placeholder {
      /* Internet Explorer 10-11 */
      color: $black-40;
    }

    &::input-placeholder {
      /* Microsoft Edge */
      color: $black-40;
    }

    &:disabled {
      background-color: #f8f8f8;
    }
  }

  .requiredTag {
    color: $secondary-red;
  }

  .inputError {
    font-size: rem(14px);
    font-weight: 400;
    color: $secondary-red;
    line-height: rem(20px);
    margin-top: rem(6px);
  }

  .qrCodeWrapper {
    .qrTitle {
      text-align: center;
      font-weight: 400;
      font-size: rem(18px);
      line-height: rem(28px);
      margin-bottom: rem(8px);
    }

    .expire {
      text-align: center;
      font-weight: 400;
      font-size: rem(18px);
      line-height: rem(28px);
      margin-bottom: rem(8px);
      margin-top: rem(18px);
    }

    .qrCodeGenerator {
      display: flex;
      justify-content: center;
      padding: 0;
    }
  }

  .actionWrapper {
    display: flex;
    align-items: center;
    gap: rem(10);

    .cancelBtn,
    .submitBtn {
      width: 100%;
      justify-content: center;
    }
  }

  .loadingWrapper {
    position: relative;
    padding: rem(80);
  }
}

.modalBody {
  &_nextStep {
    text-align: center;
    font-weight: 400;
    line-height: (28/18);

    @include calcFontAuto(16px, 18px);

    p {
      margin-bottom: rem(16px);
    }
  }
}

.ctas {
  text-align: center;
}

.alert_info {
  font-size: 14px;
  line-height: 22px;
  color: #4185ec;
  padding: 6px 16px;
  background: #e3f5ff;
  border: 1px solid #4185ec;
  border-radius: 2px;
  margin-top: rem(24px);
  margin-bottom: rem(24px);
}

.btcAddress {
  font-size: 16px;
  margin-top: rem(24px);
  word-break: break-all;
  border: 1px solid #c8c8c8;
  background: #f8f8f8;
  padding: 8px;
  text-align: center;

  @include min-tablet {
    padding-left: rem(40px);
    padding-right: rem(40px);
  }
}

.divider {
  margin-top: 26px;
  margin-bottom: 26px;
  width: 100%;
  border: 1px solid #cecece;
}

.wrap_fee {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.wrap_fee_margin_bottom {
  margin-bottom: 26px;
}

.info_guild {
  font-size: 18px;
  line-height: 28px;
  border-radius: 2px;
  margin-top: rem(24px);
  margin-bottom: rem(24px);
  text-align: center;
}

.ctaButton {
  width: 100%;
  justify-content: center;
  margin-top: rem(32);
}

.question {
  padding: 3px 7px;
  border-radius: 30px;
  background-color: #e3e2e2;
  font-size: 10px;
  color: $black-60-solid;
  margin-left: 4px;
}

.free_fee {
  color: $secondary-red;
}
