.container {
  z-index: 1000000;

  .backdrop {
    background: $black-40;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
  }

  .modalWrapper {
    background: $white;
    box-shadow: -10px 0 40px $black-20;
    transition: all 0.2s ease-in;
    z-index: 20;
    border-radius: 2px;
    width: 90%;
    overflow-y: scroll;
    max-height: 90%;

    @include min-tablet {
      width: rem(620px);
    }

    @include min-pc-superWide {
      width: rem(620px);
    }
  }

  .modalHeader {
    padding: rem(20px) rem(20px) rem(8px);
    display: flex;
    justify-content: flex-end;
  }

  .closeBtn {
    padding: 0;
    background-color: transparent !important;

    &:hover {
      .closeIcon {
        transform: rotate(90deg);
        transition: all 0.3s;

        :global(svg path) {
          fill: $black-100;
          fill-opacity: 1;
        }
      }
    }
  }

  .modalBody {
    padding-bottom: rem(24px);
    padding-left: rem(16px);
    padding-right: rem(16px);

    @include tablet {
      padding-bottom: rem(34px);
      padding-left: rem(24px);
      padding-right: rem(24px);
    }

    @include min-pc {
      padding-bottom: rem(48px);
      padding-left: rem(48px);
      padding-right: rem(48px);
    }
  }

  .modalTitle {
    font-weight: 700;
    color: $black-100;
    margin-bottom: rem(24px);
    line-height: (34 / 24);

    @include calcFontAuto(18px, 24px);
  }

  .formItem {
    margin-bottom: 16px;
    width: 100%;
  }

  .label {
    font-weight: 500;
    font-size: rem(12px);
    line-height: rem(20px);
    color: $black-60;
    display: block;
    margin-bottom: 6px;
    text-transform: uppercase;
  }

  .subLabel {
    font-weight: 500;
    font-size: rem(12px);
    line-height: rem(16px);
    color: $black-40;
    display: block;
    margin-bottom: 6px;
    margin-top: 4px;
  }

  .inputContainer {
    position: relative;

    .inputPostfix {
      min-width: 54px;
      text-align: center;
      position: absolute;
      right: 14px;
      top: 12px;
      font-weight: 500;
      line-height: (26/16);

      @include calcFontAuto(14px, 16px);

      color: $black-100;
      padding-left: 8px;
      border-left: 1px solid $black-20;
    }
  }

  .input {
    background-color: $white-100;
    font-weight: 400;
    font-size: rem(16px);
    line-height: rem(26px);
    color: $black-100;
    padding: rem(11px) rem(14px);
    border: 1px solid $black-10;
    border-radius: 2px;
    width: 100%;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $black-40;
      opacity: 1; /* Firefox */
    }

    &:input-placeholder {
      /* Internet Explorer 10-11 */
      color: $black-40;
    }

    &::input-placeholder {
      /* Microsoft Edge */
      color: $black-40;
    }

    &:disabled {
      background-color: #f8f8f8;
    }
  }

  .requiredTag {
    color: $secondary-red;
  }

  .inputError {
    font-size: rem(14px);
    font-weight: 400;
    color: $secondary-red;
    line-height: rem(20px);
    margin-top: rem(6px);
  }

  .qrCodeWrapper {
    .qrTitle {
      text-align: center;
      font-weight: 400;
      font-size: rem(18px);
      line-height: rem(28px);
      margin-bottom: rem(8px);
    }

    .qrCodeGenerator {
      display: flex;
      justify-content: center;
      padding: 0;
    }
  }

  .actionWrapper {
    display: flex;
    align-items: center;
    gap: rem(10);

    .cancelBtn,
    .submitBtn {
      width: 100%;
      justify-content: center;
    }
  }

  .loadingWrapper {
    position: relative;
    padding: rem(80);
  }

  .sendBtn {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;
  }

  .mintFeeWrapper {
    display: flex;
    gap: rem(24px);
    margin-bottom: rem(24px);
    margin-top: rem(24px);

    @include mobile {
      gap: (6px);
    }

    .mintFeeItem {
      width: 100%;
      padding: rem(24px);
      border: 1px solid $black-10;
      border-radius: rem(2px);
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      @include mobile {
        padding: rem(10px) rem(8px);
      }

      &__active {
        border: 2px solid #4185ec;
      }

      .feeTitle {
        font-weight: 500;
        font-size: rem(20px);
        line-height: 140%;
      }

      .feeDetail {
        font-weight: 400;
        font-size: rem(16px);
        line-height: 140%;
        margin-bottom: rem(12px);
        color: $black-60;
        text-align: center;
      }

      .feeTotal {
        font-weight: 500;
        font-size: rem(18px);
        line-height: 140%;
        color: #4f43e2;
      }
    }
  }
}

.wrapHistory {
  padding: 18px 12px;
  border-radius: 8px;
  margin-bottom: 16px;
  background-color: $primary-light;

  &_center {
    display: flex;
    align-items: center;
  }

  &_copy {
    cursor: pointer;
    margin-left: 12px;

    :hover {
      opacity: 0.8;
    }
  }

  &_marginTop {
    margin-top: 12px;
  }
}
