@import "src/styles/_themes/variables.scss";
@import "src/styles/_themes/mixins.scss";

.inscriptionCard {
  &_inner {
    background: #fff;
    min-height: 100%;
    transition: box-shadow 0.4s $easeOutCubic, border-color 0.4s $easeOutCubic;
    border: 1px solid transparent;

    &:hover {
      box-shadow: 0 2px 10px rgb(0 0 0 / 15%);
      border-color: rgba(#1c1c1c, 0.3);
    }
  }

  &_thumb {
    position: relative;
    width: 100%;
    background: #f7f9fb;
    padding: rem(32px);

    @include min-pc-superWide {
      padding: 32px;
    }

    @include mobile {
      padding: rem(8px);
    }

    &_inner {
      padding-bottom: 100%;
      position: relative;
      width: 100%;
    }

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &.isDefault {
      img {
        width: rem(200px) !important;
        height: rem(200px) !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%);
      }
    }
  }

  &_info {
    padding: {
      top: rem(24px);
      left: rem(16px);
      right: rem(16px);
      bottom: rem(16px);
    }

    @include mobile {
      padding: rem(12px) rem(8px);
    }
  }

  .titleWrapper {
    display: flex;
    justify-content: space-between;
  }

  .title {
    font-weight: 500;
    font-size: rem(20px);
    line-height: rem(30px);
    white-space: nowrap;
    max-width: calc(100% - 56px);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .mintBtn {
    font-weight: 500;
    font-size: rem(14px);
    line-height: rem(24px);
    justify-content: center;
    padding: rem(5px) rem(14px);
  }
}
