.seemore_description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: 6;
  -webkit-line-clamp: 6;

  &.isShowMore {
    line-clamp: unset;
    -webkit-line-clamp: unset;
  }

  :global(.wmde-markdown) {
    line-height: (28/18);

    @include calcFontAuto(16px, 18px);

    font-family: $font-paragraph;

    @include min-pc-superWide {
      font-size: 18px;
    }
  }

  + span {
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}
