.collections {
  &_loader {
    position: relative;
    height: 80px;
    width: 100%;
    margin-top: rem(50px);
  }

  &_header {
    padding-bottom: rem(10px);
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    border-bottom: 1px solid #cecece;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #898989;
  }

  &_row {
    padding: rem(8px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cecece;
    font-weight: 600;
    font-size: rem(16px);
    line-height: rem(26px);
    color: #333;
  }

  &_status {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
  }

  &_executed {
    color: #ff7e21;
  }

  &_voting {
    color: #00aa6c;
  }

  &_defeated {
    color: #ff4747;
  }

  &_btn {
    padding: rem(5px) rem(14px);
    border-radius: 2px;
    border: 1px solid #1c1c1c;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-transform: initial;

    &:disabled {
      background-color: #fff;
    }
  }

  &_mr6 {
    margin-right: rem(6px);
  }

  &_btnVote {
    border: none;

    &:disabled {
      background-color: #f2f2f2;
    }
  }
}
