.collection {
  &_projects {
    margin-top: rem(50px);
    position: relative;

    @include mobile {
      margin-top: rem(24px);
    }

    &_list {
      overflow: unset !important;
    }

    &_loader {
      position: relative;
      height: 80px;
      width: 100%;
      margin-top: rem(20px);
    }
  }
}
