.referral {
  margin-top: rem(56);
}

.pageHeader {
  text-align: center;
}

.s.pageTitle {
  margin-bottom: rem(16);
}

.pageDescription {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.referralBtn {
  margin-top: rem(16);
}
