@import "src/styles/_themes/variables.scss";
@import "src/styles/_themes/mixins.scss";

.projectCard {
  text-decoration: none;

  &_inner {
    background: #fff;
    border: 1px solid rgb(0 0 0 / 20%);
    border-radius: 2px;
    min-height: 100%;
    transition: box-shadow 0.4s $easeOutCubic, border-color 0.4s $easeOutCubic;

    &:hover {
      box-shadow: 0 4px 20px rgb(0 0 0 / 15%);
      border-color: #1c1c1c;
    }
  }

  &_thumb {
    position: relative;
    border-radius: 2px;
    width: 100%;
    padding: rem(16px);

    @include mobile {
      padding: rem(8px);
    }

    &_inner {
      padding-bottom: 100%;
      position: relative;
      width: 100%;

      &_sk {
        height: 100%;
        position: absolute;
      }
    }

    &.isDefault {
      background: #fff;

      img {
        width: rem(200px);
        height: rem(200px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    :global(.label_text) {
      position: absolute;
      bottom: rem(16px);
    }
  }

  &_info {
    border-top: 1px solid rgb(0 0 0 / 20%);
    padding: rem(16px);

    @include mobile {
      padding: rem(8px);
    }

    &.desktop {
      .projectCard_info_title {
        display: block;
        margin-top: rem(10px);
        margin-bottom: rem(2px);

        h4 {
          font-weight: 600;
          line-height: (34 / 24);

          @include calcFontAuto(18px, 24px);

          white-space: nowrap;
          text-overflow: ellipsis;
          display: block;
          overflow: hidden;
        }
      }

      :global(.useInfo) {
        margin-bottom: rem(10px);
      }
    }

    &.mobile {
      padding-left: rem(10px);
      padding-right: rem(10px);
      padding-bottom: rem(12px);
      padding-top: rem(16px);

      .projectCard_progress {
        margin-top: rem(5);
      }
    }

    &_price {
      display: flex;

      &_price {
        flex: 0 0 60%;
        padding-right: rem(10px);
        color: $secondary-purple-c;
        line-height: (28/18);

        @include calcFontAuto(16px, 18px);

        small {
          font-size: 80%;
          font-weight: bold;
          margin-left: rem(5px);
        }
      }

      &_bar {
        flex: 0 0 40%;
        text-align: right;
        margin-left: auto;
      }
    }
  }

  &:hover {
    cursor: pointer;
  }

  &_creator {
    display: flex;
    align-items: center;
    gap: rem(6);
    margin-bottom: rem(7);
  }

  &_avatar {
    width: rem(34);
    height: rem(34);
    border-radius: 50%;
    overflow: hidden;
  }

  &_progress {
    width: 100%;
    height: rem(32);
  }
}

.countDown {
  background: $primary-brand;
  color: white;
  display: inline-block;
  min-width: rem(160px);
  text-align: center;
  padding: rem(7px);
  border-radius: 2px;
}
