@import "src/styles/_themes/variables.scss";
@import "src/styles/_themes/mixins.scss";

.projectCard {
  text-decoration: none;

  &_inner {
    padding: rem(16px);
    background: #fff;
    border: 1px solid rgb(0 0 0 / 20%);
    border-radius: 2px;
    transition: box-shadow 0.4s $easeOutCubic, border-color 0.4s $easeOutCubic;

    @include mobile {
      padding: rem(8px);
    }

    &:hover {
      box-shadow: 0 4px 20px rgb(0 0 0 / 15%);
      border-color: #1c1c1c;
    }
  }

  &_thumb {
    margin-bottom: rem(16px);
    position: relative;
    padding-bottom: 100%;
    border-radius: 2px;

    &.isDefault {
      background: #f2f2f2;
    }

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &_info {
    &.desktop {
      .projectCard_info_title {
        display: block;
        margin-top: rem(10px);
        margin-bottom: rem(10px);

        h4 {
          font-weight: 600;
          line-height: (34 / 24);

          @include calcFontAuto(18px, 24px);
        }
      }

      :global(.useInfo) {
        margin-bottom: rem(10px);
      }
    }

    &.mobile {
      padding-left: rem(2px);
      padding-right: rem(2px);
      padding-bottom: rem(4px);
    }
  }

  &:hover {
    cursor: pointer;
  }
}
