@import "src/styles/_themes/mixins";

.wrapper {
  color: $black-100;
  padding-top: rem(32px);

  @include min-tablet {
    display: grid;
    grid-template-columns: 35% 1px calc(65% - 1px);
    padding-top: rem(40px);
    margin-bottom: rem(40px);
  }
}

.info {
  @include min-tablet {
    overflow-y: scroll;
    padding-right: rem(60px);
    position: relative;

    @include fullViewScreen;
  }

  &::-webkit-scrollbar {
    width: 5px;
    position: absolute;
    left: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgb(0 0 0 / 10%);
  }

  &_creatorLink {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  :global(.label_text) {
    margin-bottom: rem(12px);
  }

  .progressBar {
    max-width: rem(320px);
  }
}

.usersInfo {
  margin-bottom: 16px;
  display: flex;
  align-items: flex-start;
  column-gap: rem(50px);

  &_item {
    display: flex;
    flex-direction: column;
    gap: 10px;

    > div:first-of-type {
      min-height: rem(34px);
    }
  }

  &_mainText {
    text-transform: uppercase;
    color: $black-60;
  }

  &_subText {
    transform: translateY(-7px);
  }
}

.creator {
  display: flex;
  align-items: center;
  gap: rem(16);
  margin-top: rem(4);
  margin-bottom: rem(12);

  &_divider {
    width: 1px;
    height: rem(16);
    display: block;
    background-color: $black-20;
  }

  &_info {
    display: flex;
    gap: rem(8);
    align-items: center;
  }

  &_social {
    display: flex;
    gap: rem(20);
    align-items: center;

    &_item {
      display: flex;
      align-items: center;
      gap: rem(6);

      &_inner {
        display: flex;
        align-items: center;
        gap: rem(6);
      }
    }

    &_twitter {
      svg,
      path {
        fill: #3cf;
      }
    }
  }
}

.progressBar {
  margin-bottom: rem(24px);
}

.CTA {
  display: flex;
  margin-bottom: rem(10px);
  gap: rem(24px);
  flex-wrap: wrap;
  align-items: center;

  .mint_btn {
    width: fit-content;
    justify-content: center;

    @include mobile {
      width: 100%;
    }

    // &__eth {
    //   background: #00aa6c !important;

    //   &:hover {
    //     background: #01b875 !important;
    //   }
    // }

    &__wallet {
      padding-top: rem(17px);
      padding-bottom: rem(17px);
    }

    span:nth-child(2) {
      margin-left: rem(5px);

      span {
        font-size: 120%;
      }
    }
  }

  .explore_btn {
    flex: 1;
    white-space: nowrap;
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: rem(16px);
    line-height: rem(26px);
    letter-spacing: 0.01em;
    font-weight: 700;
    color: $black-100;
    gap: rem(24px);

    &:hover {
      text-decoration: none;
    }
  }

  ul {
    display: flex;
    gap: rem(12px);
    flex-wrap: wrap;

    li {
      @include mobile {
        flex: 0 0 100%;
        width: 100%;
      }
    }
  }
}

.whiteListWallet {
  margin-top: rem(10);

  .infoIcon {
    display: inline-block;
    width: rem(12);
    margin-right: rem(4);
    margin-left: rem(1);
  }
}

.whiteList_tooltip {
  // white-space: nowrap;
  text-align: left;
}

.whiteList_icon {
  cursor: pointer;
}

.whiteList_list {
  color: $primary-333;
  list-style: disc;
  padding-left: rem(15px);
}

.whiteListWallet_connect {
  color: $secondary-purple-c;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
    text-decoration: underline;
  }
}

.mint_free {
  width: 100%;
  justify-content: center;
}

.priceBtc {
  line-height: (44/34);
  font-weight: 500;

  @include calcFontAuto(24px, 34px);

  display: block;
  margin-bottom: rem(24px);

  small {
    font-size: 65% !important;
  }
}

.usersInfo {
  margin-bottom: 16px;
  display: flex;
  align-items: flex-start;
  column-gap: rem(50px);

  &_item {
    display: flex;
    flex-direction: column;
    gap: rem(10px);

    > div:first-of-type {
      min-height: rem(34px);
    }
  }

  &_mainText {
    text-transform: uppercase;
    color: $black-60;
  }

  &_subText {
    transform: translateY(-7px);
  }
}

.accordion_list {
  display: flex;
  flex-direction: column;
  gap: rem(32px);
  margin-bottom: rem(30px);
}

.stats {
  display: flex;
  column-gap: rem(130px);
  row-gap: rem(6px);
  margin-bottom: rem(24px);
  margin-top: rem(24px);
  flex-wrap: wrap;

  @include mobile {
    margin-bottom: rem(24px);
  }

  &_item {
    > p:first-of-type {
      color: $black-40;
      text-transform: uppercase;
    }
  }
}

.project_desc {
  margin-bottom: rem(24px);
}

.license {
  margin-top: rem(24px);
  margin-bottom: rem(14px);
}

.description {
  display: flex;
  flex-direction: column;
  gap: rem(5px);
  margin-bottom: rem(24px);
}

.loading_project {
  background-color: $white;
  max-height: rem(550px);
}

.owner {
  padding-bottom: rem(34px);
  border-bottom: 1px solid $black-20;

  @include min-tablet {
    border: none;
  }
}

.project_owner {
  padding-bottom: rem(24px);
  border-bottom: 1px solid $black-20;
}

.project_info {
  margin-bottom: rem(24px);
  margin-top: rem(24px);
}

.shares {
  display: flex;
  gap: rem(8px);
}

.projectHeader {
  &.hasEdit {
    display: flex;

    .projectHeader_title {
      flex: 0 0 auto;
      margin-right: rem(30px);
      max-width: calc(100% - #{rem(120px)});
    }

    .projectHeader_btn {
      flex: 0 0 auto;
      margin-top: rem(5px);
    }
  }
}

.reportBtn {
  width: 34px;
  height: 34px;
  border-radius: 2px;
  border: 1px solid $black-20;
  display: grid;
  place-items: center;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    background-color: $black-100;

    svg,
    path {
      stroke: $white;
    }
  }
}

.reportMsg {
  margin-top: rem(16);
  color: $secondary-red;
}
