@import "src/styles/_themes/mixins";

.projectInfo {
  &_inner {
    display: flex;
    flex-wrap: wrap;
    margin-top: rem(16px);
    row-gap: 0 !important;

    @include min-tablet {
      margin-top: rem(48px);
    }
  }

  &_center {
    margin-top: rem(24px);

    @include min-pc {
      margin-top: 0;
    }
  }

  &_right {
    &_inner {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    &_art {
      flex: 0 0 100%;

      @include min-pc {
        flex: 0 0 62%;
        padding-right: rem(24px);
      }
    }

    &_ctas {
      flex: 0 0 100%;

      @include min-pc {
        flex: 0 0 38%;
      }
    }
  }
}

.wrapper {
  color: $black-100;
  // padding-top: rem(32px);
}

.info_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  @include min-tablet {
    overflow-y: scroll;
    position: relative;

    @include fullViewScreen;
  }

  &::-webkit-scrollbar {
    width: 5px;
    position: absolute;
    left: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgb(0 0 0 / 10%);
  }

  &_creatorLink {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  :global(.label_text) {
    margin-bottom: rem(12px);
  }

  .progressBar {
    max-width: rem(320px);
  }
}

.usersInfo {
  margin-bottom: 16px;
  display: flex;
  align-items: flex-start;
  column-gap: rem(50px);

  &_item {
    display: flex;
    flex-direction: column;
    gap: 10px;

    > div:first-of-type {
      min-height: rem(34px);
    }
  }

  &_mainText {
    text-transform: uppercase;
    color: $black-60;
  }

  &_subText {
    transform: translateY(-7px);
  }
}

.creator {
  display: flex;
  align-items: center;
  gap: rem(16);
  margin-top: rem(4);
  margin-bottom: rem(12);

  &_divider {
    width: 1px;
    height: rem(16);
    display: block;
    background-color: $black-20;
  }

  &_info {
    display: flex;
    gap: rem(8);
    align-items: center;
  }

  &_social {
    display: flex;
    gap: rem(16);
    align-items: center;
    margin-top: rem(10px);

    &_item {
      display: flex;
      align-items: center;
      gap: rem(6);

      &_inner {
        display: flex;
        align-items: center;
        gap: rem(6);
      }
    }

    &_twitter {
      svg,
      path {
        fill: #3cf;
      }
    }
  }
}

.CTA {
  display: flex;
  margin-bottom: rem(10px);
  gap: rem(24px);
  flex-wrap: wrap;
  align-items: center;

  .mint_btn {
    width: fit-content;
    justify-content: center;

    @include mobile {
      width: 100%;
    }

    &__wallet {
      padding-top: rem(17px);
      padding-bottom: rem(17px);
    }

    span:nth-child(2) {
      margin-left: rem(12px);

      span {
        font-size: 120%;
      }
    }
  }

  .explore_btn {
    flex: 1;
    white-space: nowrap;
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: rem(16px);
    line-height: rem(26px);
    letter-spacing: 0.01em;
    font-weight: 700;
    color: $black-100;
    gap: rem(24px);

    &:hover {
      text-decoration: none;
    }
  }

  ul {
    display: flex;
    gap: rem(12px);
    flex-wrap: wrap;

    @include mobile {
      width: 100%;
    }

    li {
      @include mobile {
        flex: 0 0 100%;
        width: 100%;
      }
    }
  }
}

.whiteListWallet {
  margin-top: rem(10);

  .infoIcon {
    display: inline-block;
    width: rem(12);
    margin-right: rem(4);
    margin-left: rem(1);
  }
}

.whiteList_tooltip {
  // white-space: nowrap;
  text-align: left;
}

.whiteList_icon {
  cursor: pointer;
}

.whiteList_list {
  color: $primary-333;
  list-style: disc;
  padding-left: rem(15px);
}

.whiteListWallet_connect {
  color: $secondary-purple-c;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
    text-decoration: underline;
  }
}

.mint_free {
  width: 100%;
  justify-content: center;
}

.priceBtc {
  line-height: (44/34);
  font-weight: 500;

  @include calcFontAuto(24px, 34px);

  display: block;
  margin-bottom: rem(24px);

  small {
    font-size: 65% !important;
  }
}

.usersInfo {
  margin-bottom: 16px;
  display: flex;
  align-items: flex-start;
  column-gap: rem(50px);

  &_item {
    display: flex;
    flex-direction: column;
    gap: rem(10px);

    > div:first-of-type {
      min-height: rem(34px);
    }
  }

  &_mainText {
    text-transform: uppercase;
    color: $black-60;
  }

  &_subText {
    transform: translateY(-7px);
  }
}

.accordion_list {
  display: flex;
  flex-direction: column;
  gap: rem(32px);
  margin-bottom: rem(30px);
}

.stats {
  display: flex;
  column-gap: rem(130px);
  row-gap: rem(6px);
  margin-bottom: rem(24px);
  margin-top: rem(24px);
  flex-wrap: wrap;

  @include mobile {
    margin-bottom: rem(24px);
  }

  &_item {
    > p:first-of-type {
      color: $black-40;
      text-transform: uppercase;
    }
  }
}

.project_desc {
  margin-bottom: rem(24px);
}

.license {
  margin-top: rem(24px);
  margin-bottom: rem(14px);
}

.description {
  display: flex;
  flex-direction: column;
  gap: rem(5px);
  margin-bottom: rem(24px);
}

.loading_project {
  background-color: $white;
  max-height: rem(550px);
}

.owner {
  padding-bottom: rem(34px);
  border-bottom: 1px solid $black-20;

  @include min-tablet {
    border: none;
  }
}

.project_owner {
  padding-bottom: rem(24px);
  border-bottom: 1px solid $black-20;
}

.project_info {
  margin-bottom: rem(24px);
  margin-top: rem(24px);
  max-width: rem(520px);
}

.shares {
  display: flex;
  gap: rem(8px);
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.projectHeader {
  display: flex;
  gap: rem(8px);

  &_title {
    font-style: italic;
  }

  &_heading {
    &.hasEdit {
      display: flex;

      .projectHeader_title {
        flex: 0 0 auto;
        margin-right: rem(30px);
        max-width: calc(100% - #{rem(120px)});
      }

      .projectHeader_btn {
        flex: 0 0 auto;
        margin-top: rem(5px);
      }
    }
  }
}

.projectBtn {
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: rem(4);
  padding: rem(5) rem(10);
  border: 1px solid $black-20 !important;

  &:hover {
    background-color: $black-100;
    color: $white;

    svg,
    path {
      stroke: $white;
    }
  }
}

.reportBtn {
  display: flex;
  align-items: center;
  gap: rem(4);
}

.reportMsg {
  margin-top: rem(24);
  display: flex;
  align-items: center;
  gap: rem(8);
  color: $secondary-orange;
  padding: rem(6) rem(16);
  border: 1px solid $secondary-orange;
  background-color: #ff7e210f;
}

.reviewOnMobile {
  margin-top: rem(24px);
  padding: rem(32);
  background-color: $primary-light;
}

.shares_wrapper {
  padding-right: rem(60);
}

.wrapper.minted {
  margin-bottom: rem(24px);

  .info,
  .projectInfo_right_inner {
    @include min-pc {
      position: sticky;
      top: rem(86px);
    }
  }

  .shares {
    justify-content: unset;
    gap: rem(24px);
  }

  .projectInfo_right_ctas {
    .CTA,
    :is(ul) {
      display: unset;
      flex: unset;
    }

    .CTA button {
      margin-bottom: rem(8px);
      width: 50%;
    }
  }

  .stats {
    margin-top: rem(12px);
    width: 100%;
    column-gap: unset;

    &_item {
      flex: 0 0 calc(33.33% - 0.6rem);
    }
  }

  .info {
    height: unset !important;
    min-height: unset !important;
  }
}

.layoutMinting {
  margin-top: rem(32px);
  margin-bottom: rem(40px);

  .shares {
    padding-top: rem(10px);
  }
}
