
.projectDetail {
  padding-top: 28px;

  .formItem {
    margin-bottom: 24px;
  }

  .label {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: $black-60-solid;
    display: block;
    margin-bottom: 6px;
    text-transform: uppercase;
  }

  .input {
    background-color: $background;
    font-weight: 500;
    line-height: (26/16);
    color: $black-100;
    padding: rem(11px) rem(14px);
    border-radius: 2px;
    width: 100%;
    resize: none;
    white-space: normal;

    @include calcFontAutoSmall(14px, 16px);

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $black-40-solid;
      opacity: 1; /* Firefox */
    }

    &:input-placeholder {
      /* Internet Explorer 10-11 */
      color: $black-40-solid;
    }

    &::input-placeholder {
      /* Microsoft Edge */
      color: $black-40-solid;
    }
  }

  .requiredTag {
    color: $secondary-red;
  }

  .tagInput {
    background-color: transparent;
    flex: 1;
  }

  .tagsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .tagItem {
    margin: 2px;
    background-color: $black-10;
    border-radius: 2px;
    display: flex;
    padding-left: 4px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    align-items: center;
  }

  .removeTagBtn {
    margin-left: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 22px;
    cursor: pointer;
    border-radius: 2px;

    &:hover {
      background-color: #ffbdad;

      svg {
        path {
          fill: #de350b;
        }
      }
    }
  }

  .selectInput {
    :global(.select__control) {
      background-color: $background;
      border: none;
      outline: none;
      box-shadow: none;
      border-radius: 2px;
      min-height: rem(48px);
    }

    :global(.select__indicator-separator) {
      display: none;
    }

    :global(.select__placeholder) {
      color: $black-40-solid;
      line-height: (26/16);
      @include calcFontAutoSmall(14px, 16px)
    }

    :global(.select__multi-value__label) {
      font-weight: 400;
      line-height: 1;

      @include calcFontAutoSmall(12px, 14px)
    }

    :global(.select__input-container) {
      color: $black-100;
      font-weight: 500;
      line-height: (26/16);
      @include calcFontAutoSmall(14px, 16px)
    }

    :global(.select__dropdown-indicator){
      color: $primary-brand
    }
  }

  .error {
    font-size: 14px;
    font-weight: 400;
    color: $secondary-red;
    line-height: 20px;
    margin-top: 6px;
  }
}

.stepFooterWrapper {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100vw;
  left: 0;
  right: 0;

  .stepFooter {
    padding: 28px 0;
    background-color: $white-100;
    border-top: 1px solid $black-10;
  }

  .container {
    max-width: 1016px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .nextBtn {
    width: 48px;
    height: 48px;
    justify-content: center;
  }
}
