.stepHeader {

  .stepList {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(35px);
  }

  .stepIndexWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(76px);
    height: rem(60px);
    border: 2px solid $black-10;
    border-radius: rem(40px);
    margin-bottom: rem(14px);
  }

  .stepActiveDot {
    background: $secondary-purple-a;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: none;
  }

  .stepTitleWrapper {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .stepItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &__active {
      .stepIndexWrapper {
        background: $primary-brand;
      }

      .stepIndex {
        color: $white-100;
      }

      .stepActiveDot {
        display: inline-block;
      }

      .stepTitle {
        color: $black-100;
      }
    }

    &__disabled {
      cursor: not-allowed;
    }
  }
}
