.wrapper {
  color: $black-100;
  margin-top: rem(32px);
  margin-bottom: rem(48px);

  @include min-tablet {
    margin-top: rem(60px);
    margin-bottom: rem(90px);
    display: grid;
    grid-template-columns: rem(420px) 1px 1fr;
    height: calc(100vh - #{rem(260px)});
  }
}

.itemInfo {
  position: relative;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  &_heading {
    width: 100%;

    span {
      display: block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @include min-tablet {
    overflow-y: scroll;
    padding-right: rem(60px);
  }

  &::-webkit-scrollbar {
    width: 5px;
    position: absolute;
    left: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgb(0 0 0 / 10%);
  }

  .projectName {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .view_collection {
    font-size: rem(20px);
    line-height: rem(30px);
    font-weight: 600;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.thumbnailWrapper {
  margin-left: rem(60px);
  max-width: rem(1283px);
}

.collectionName {
  color: $black-60;
  margin-bottom: rem(16px);
}

.usersInfo {
  margin-bottom: 16px;
  display: flex;
  align-items: flex-start;
  column-gap: 50px;

  &_item {
    display: flex;
    flex-direction: column;
    gap: 10px;

    > div:first-of-type {
      min-height: 34px;
    }
  }

  &_mainText {
    text-transform: uppercase;
    color: $black-60;
  }

  &_subText {
    color: $black-60;
    transform: translateY(-7px);
  }
}

.prices {
  display: flex;
  align-items: center;
  gap: rem(32px);
  margin-bottom: rem(24px);

  p {
    text-transform: uppercase;
    color: $black-60;
  }
}

.CTA_btn {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: rem(10px);
  margin-bottom: rem(30px);

  button {
    width: calc(50% - 5px);
    justify-content: center;
  }
}

.owner {
  margin-bottom: rem(34px);

  > a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.token_description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;

  :global(.wmde-markdown) {
    line-height: (26/16);

    @include calcFontAuto(14px, 16px);

    font-family: $font-paragraph;
  }

  + span {
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}

.accordions {
  display: flex;
  flex-direction: column;
  gap: rem(24px);
  margin-bottom: rem(30px);
}

.walletAddress {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.loading_token {
  background-color: $white;
}

a.info_creatorLink {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
