.wrapper {
  color: $black-100;
  margin-bottom: rem(48px);

  @include min-pc {
    display: grid;
    grid-template-columns: 35% 1px calc(65% - 1px);
    margin-bottom: rem(90px);
  }

  a:hover {
    text-decoration: underline;
  }
}

.projectHeader {
  display: flex;
  gap: rem(8px);
}

.itemInfo {
  position: relative;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: rem(64px);

  &_heading {
    width: 100%;
    margin-bottom: rem(8px);
    font-style: italic;

    span {
      display: block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @include min-pc {
    overflow-y: scroll;
    padding-right: rem(60px);
    position: relative;
    padding-top: rem(40px);

    @include fullViewScreen;
  }

  &::-webkit-scrollbar {
    width: 5px;
    position: absolute;
    left: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgb(0 0 0 / 10%);
  }

  .projectName {
    text-decoration: none;
    color: $secondary-purple-c;

    &:hover {
      color: $secondary-purple-c;
      text-decoration: underline;
    }
  }

  .view_collection {
    font-size: rem(20px);
    line-height: rem(30px);
    font-weight: 600;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.thumbnailWrapper {
  margin-left: rem(60px);
  max-width: rem(1283px);
}

.collectionName {
  color: $black-60;
  margin-bottom: rem(16px);
}

.usersInfo {
  margin-bottom: 16px;
  display: flex;
  align-items: flex-start;
  column-gap: 50px;

  &_item {
    display: flex;
    flex-direction: column;
    gap: 10px;

    > div:first-of-type {
      min-height: 34px;
    }
  }

  &_mainText {
    text-transform: uppercase;
    color: $black-60;
  }

  &_subText {
    color: $black-60;
    transform: translateY(-7px);
  }
}

.prices {
  display: flex;
  align-items: center;
  gap: rem(32px);
  margin-bottom: rem(24px);

  p {
    text-transform: uppercase;
    color: $black-60;
  }
}

.buy_btc {
  margin-top: rem(24px);

  p {
    text-transform: uppercase;
    color: $black-60;
  }

  &_button {
    margin-top: rem(24px);
    margin-bottom: rem(12px);
    display: flex;
    justify-content: center;
  }
}

.CTA_btn {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: rem(10px);
  margin-bottom: rem(30px);

  button {
    width: calc(50% - 5px);
    justify-content: center;
  }
}

.owner {
  margin-bottom: rem(24px);

  > a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.token_description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;

  :global(.wmde-markdown) {
    line-height: (26/16);

    @include calcFontAuto(14px, 16px);

    font-family: $font-paragraph;
  }

  + span {
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}

.accordions {
  display: flex;
  flex-direction: column;
  gap: rem(24px);
  margin-top: rem(24);
}

.shares {
  display: flex;
  gap: rem(8px);
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-top: rem(24);
  padding-right: rem(60);

  &:hover {
    text-decoration: underline;
  }
}

.reportBtn {
  display: flex;
  align-items: center;
  gap: rem(4);
}

.walletAddress {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.loading_token {
  background-color: $white;
}

a.info_creatorLink {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.creator {
  display: flex;
  align-items: center;
  gap: rem(16);
  margin-top: rem(4);
  margin-bottom: rem(16);

  &_divider {
    width: 1px;
    height: rem(16);
    display: block;
    background-color: $black-20;
  }

  &_info {
    display: flex;
    gap: rem(8);
    align-items: center;
  }

  &_social {
    display: flex;
    gap: rem(20);
    align-items: center;

    &_item {
      display: flex;
      align-items: center;
      gap: rem(6);
    }

    &_twitter {
      svg,
      path {
        fill: #3cf;
      }
    }
  }
}

.reviewOnMobile {
  margin-top: rem(24px);
  padding: rem(32);
  background-color: $primary-light;
}

.itemInfo_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
