.proposalPreview {
  padding: rem(60) 0;

  @include max-tablet {
    padding: rem(32px) 0;
  }

  .title {
    font-weight: 500;
    font-size: rem(34px);
    line-height: rem(44px);
    color: $black-100;
    margin-bottom: rem(24px);
  }

  .titleSkeleton {
    height: rem(34px);
    width: 50%;
    margin-bottom: rem(24px);
  }

  .descriptionLabel {
    font-weight: 500;
    font-size: rem(14px);
    line-height: rem(24px);
    margin-bottom: rem(2px);
    color: $black-40;
    text-transform: uppercase;
  }

  .descriptionLabelSkeleton {
    height: rem(14px);
    width: rem(100px);
    margin-bottom: rem(8px);
  }

  .description {
    font-weight: 400;
    font-size: rem(18px);
    line-height: rem(28px);
    color: $black-80;
  }

  .descriptionSkeleton {
    height: rem(180px);
    width: 100%;
  }

  .summaryWrapper {
    width: 100%;
    padding: rem(32px) rem(32px) rem(48px);
    border: 1px solid $black-20;
    min-height: rem(680px);

    @include max-tablet {
      margin-top: rem(24px);
      padding: rem(16px);
      min-height: auto;
    }
  }

  .summaryInfoList {
    margin-bottom: rem(16px);
  }

  .summaryInfoItem {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: rem(6px);
    }
  }

  .sectionTitle {
    font-weight: 500;
    font-size: rem(18px);
    line-height: rem(28px);
    color: $primary-brand;
    margin-bottom: rem(8px);
  }

  .actionWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(10px);

    .actionBtn {
      width: 100%;
      justify-content: center;
    }
  }
}
