.filter {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &_search {
    position: relative;
    width: 53%;
    input {
      width: 100%;
      height: 100%;
      padding: rem(11px) rem(14px) rem(11px) rem(45px);
      border: 1px solid #cecece;
      border-radius: 2px;
      font-weight: 400;
      font-size: rem(16px);
      line-height: rem(26px);
    }
  }
  &_searchIcon {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    label {
      margin-left: rem(17px);
    }
  }
  &_status {
    width: 20%;
  }
  &_sort {
    width: 25%;
  }
  &_select {
    border: 1px solid #cecece;
    border-radius: 2px;
    :global(.select__control) {
      border: none;
    }
    :global(.select__single-value) {
      font-weight: 400;
      font-size: rem(16px);
      line-height: rem(26px);
      color: #1c1c1c;
    }

    :global(.select__indicator) {
      color: $primary-brand;
    }
    :global(.select__menu) {
      border: 1px solid #cecece;
    }
  }
}
