.items {
  &_list {
    row-gap: rem(48);
  }
  &_project {
    &:hover {
      box-shadow: 0 2px 10px rgb(0 0 0 / 15%);
      border-color: rgba(#1c1c1c, 0.3);
    }
    [class*='projectCard_inner'] {
      padding: 0;
      border: none;
    }
    [class*='projectCard_thumb'] {
      padding-bottom: 100% !important;
    }
  }

  &_loader {
    position: relative;
    height: 80px;
    width: 100%;
    margin-top: rem(50px);
  }

  &_artist {
    &:hover {
      box-shadow: 0 2px 10px rgb(0 0 0 / 15%);
      border-color: rgba(#1c1c1c, 0.3);
    }
    [class*='_inner'] {
      background-color: $white-100;
    }
    [class*='_info'] {
      [class*='text-white'] {
        color: $black-100 !important;
      }
    }
  }
}
