.items {
  &_list {
    row-gap: rem(48);
  }

  &_project {
    [class*="projectCard_inner"] {
      padding: 0;
      border: none;
    }

    [class*="projectCard_thumb"] {
      padding-bottom: 100% !important;
    }
  }

  &_loader {
    position: relative;
    height: 80px;
    width: 100%;
    margin-top: rem(50px);
  }

  &_artist {
    [class*="_inner"] {
      background-color: $white-100;
    }

    [class*="_info"] {
      [class*="text-white"] {
        color: $black-100 !important;
      }
    }
  }
}
