.wrapper {
  margin-bottom: rem(30px);
  position: relative;

  @include min-tablet {
    flex: 1;
    margin-left: rem(60px);
    margin-bottom: 0;
  }
}

.sandboxContainer {
  width: 100%;
  height: 100%;

  iframe canvas {
    width: 100%;
    height: 100%;
  }
}

.thumbnailIframe {
  height: 100%;

  @include min-tablet {
    @include fullViewScreen;
  }

  @include mobile {
    aspect-ratio: 1 / 1;
  }
}

.actionButtons {
  justify-content: center;
  margin-top: 15px;
}

.sandboxWrapper {
  position: relative;
  width: 100%;

  @include fullViewScreen;

  @include mobile {
    height: rem(400px);
  }

  .sandboxContent {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}

.actionBtn {
  border-radius: 50% !important;
  border-color: $black-10 !important;
  background-color: #fff !important;

  &:hover {
    background-color: $secondary-purple-c !important;

    > img {
      filter: brightness(0) invert(1);
    }
  }
}

.sandboxControls {
  display: flex;
  align-items: center;
  gap: rem(10px);
}

.actionWrapper {
  position: absolute;
  bottom: rem(32px);
  right: rem(32px);

  @include mobile {
    bottom: rem(16px);
    right: rem(16px);
  }
}
