:root {
  --dark-grey: #a5a5a5;
  --text-primary: #000002;
  --text-black: #1c1c1c;
  --text-link: #000002;
  --text-disabled: #a5a5a5;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: CreatoDisplay, sans-serif;
}

a {
  color: inherit;
}

.dropdown-item {
  padding: 10px 16px;
  background-color: $white-100;
  cursor: pointer;
  line-height: (26/16);
  color: $black-60;
  font-weight: 500;

  @include calcFontAuto(14px, 16px);

  &:hover {
    background-color: $white-5;
    color: $black-100;
  }
}

.toast-error {
  justify-content: center;

  [role="status"] {
    justify-content: flex-start;
    margin: 0;
    margin-left: rem(4);
    font-size: rem(14);
    font-weight: 500;
    width: fit-content;
  }
}

.toast-success {
  [role="status"] {
    justify-content: flex-start;
    margin: 0;
    font-size: rem(16);
    font-weight: 500;
    width: fit-content;
    flex: unset;
  }
}

// Style for dropdown select
.select-input {
  .select__control {
    background-color: $white-100;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    border-radius: 2px;
    min-height: 52px;
    border: 2px solid $black-20;
    min-width: rem(250px);
  }

  .select__menu {
    border-radius: 2px;
    border: 2px solid #cecece;
    box-shadow: 8px 7px 24px rgb(0 0 0 / 15%);
  }

  .select__menu-list {
    padding: 0;
  }

  .select__indicator-separator {
    display: none;
  }

  .select__placeholder {
    color: $black-40;
    font-weight: 500;
    line-height: (26/16);

    @include calcFontAuto(14px, 16px);
  }

  .select__multi-value__label {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
  }

  .select__input-container {
    color: $black-100;
  }

  .select__option {
    padding: rem(10) rem(16);
    font-weight: 400;
    line-height: (26/16);

    @include calcFontAuto(14px, 16px);

    &:hover {
      background-color: $black-5;
    }
  }

  .select__option--is-focused {
    background-color: $white;
  }

  .select__option--is-selected {
    background-color: $white;
    color: $black-100;

    &:hover {
      background-color: $black-5;
      color: $black-100;
    }
  }
}
