.mintGenerative {
  padding-top: 60px;
  padding-bottom: 152px;

  &__success {
    background-position: center;
    background-size: 100%;
  }

  .stepHeaderWrapper {
    margin-bottom: 50px;

    &__hide {
      visibility: hidden;
    }
  }

  .previewWrapper {
    display: none;
  }

  .stepContent {
    display: block;
    &__twoColumn {
      .previewWrapper {
        display: block;
        max-width: 500px;
        aspect-ratio: 1/ 1;
        margin-left: auto;
        margin-right: auto;
      }
    }

    @include w-min($screen-lg) {
      display: grid;
      grid-template-columns: 500px;
      grid-template-rows: auto;
      justify-content: center;

      &__twoColumn {
        grid-template-columns: 500px 1fr;
        column-gap: rem(100px);
      }
    }
  }
}
