.filterTag {
  margin-top: rem(12px);
  display: inline-flex;

  &_tag {
    margin-right: rem(12px);
    padding: rem(11px) rem(16px);
    display: inline-flex;
    align-items: center;
    background: #f2f2f2;
    border-radius: 2px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #1c1c1c;

    svg {
      margin-left: rem(12px);

      &:hover {
        cursor: pointer;
      }
    }
  }

  &_clearBtn {
    padding: rem(11px) rem(20px);
    border-radius: 2px;
    font-weight: 500;
    font-size: rem(16px);
    line-height: rem(26px);
    letter-spacing: 0.01em;
    text-transform: initial;
  }
}
