.quickBuy {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 8;
  background-color: $white;

  &_heading {
    display: none;
    @include min-tablet {
      display: block;
    }
  }

  &.isShow {
    transform: translateY(0%);
  }

  &_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(5px);
    padding-bottom: rem(5px);
    @include min-tablet {
      padding-top: rem(5px);
      padding-bottom: rem(5px);
    }
  }

  &_scroller {
    font-style: normal;
    font-weight: 500;
    color: #9C9C9C;
    line-height: (26/16);
    @include calcFontAuto(12px, 14px);
    transition: color .4s $easeOutCubic;

    &:hover {
      color: $primary-brand;
      cursor: pointer;
    }
  }

  &_left {
    display: flex;
    align-items: center;
    gap: rem(28px);
  }

  &_right {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    flex: 0 0 auto;
    width: 100%;
    @include min-tablet {
      justify-content: flex-end;
      width: auto;
    }

    &_price {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    &_orderBtn {
      text-transform: unset;
      padding-left: rem(24px);
      padding-right: rem(24px);
      border-radius: 2px;
    }
  }
}
