.whiteList_icon {
  position: relative;

  svg,
  img {
    cursor: pointer;
  }

  &:hover {
    .whiteList_content {
      opacity: 1;
      visibility: visible;
    }
  }
}

.whiteList_content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: rem(280px);
  background: $white;
  opacity: 0;
  visibility: hidden;

  &_inner {
    position: relative;

    :global(.tooltip-arrow) {
      padding: 8px 16px;

      &::before {
        left: 50%;
        z-index: 2;
        top: -2px;
        transform: translateX(-50%);
      }
    }
  }

  a {
    text-decoration: none;
    color: #3cf;

    &:hover {
      color: unset;
      text-decoration: none;
    }
  }
}
