.Card_wrapper {
  padding: rem(56) rem(48);
  border: 1px solid #b6b6b6;
  box-shadow: 16px 16px 0 #cecece;
  border-radius: 2px;
  transition: all 0.2s ease;

  &:hover {
    box-shadow: 16px 16px 0 #4f43e2;
  }
}
