@import "src/styles/_themes/mixins";

.header {
  width: 100%;
  z-index: 9;
  position: relative;
  background-color: $white;
  border-bottom: 1px solid $black-10;

  &_row {
    min-height: rem(40px);
  }

  &_inner {
    padding: rem(5px) 0;
    position: relative;
  }

  .caret_icon {
    display: none;

    @include min-pc {
      display: block;
    }
  }

  &.dark {
    background: $primary-brand;

    :global(.divider) {
      background: rgb(0 0 0 / 10%);
    }

    .headerWrapper {
      .username {
        color: $white-100;
      }

      .price {
        color: $white-60-solid;
      }

      .caret_icon {
        filter: brightness(0) invert(1);
      }

      .dropdown {
        :global(.dropdown-item) {
          background-color: $black-100;
          color: $white-60-solid;

          &:hover {
            background-color: #000;
            color: $white-100;
          }
        }
      }
    }

    .header {
      &_right {
        &_links {
          a {
            color: $white-60-solid;
          }
        }
      }
    }

    .btnMenuMobile {
      svg path {
        stroke: $white;
      }
    }
  }

  &_logo {
    border-radius: 4px;
    width: 42px;
    height: 42px;

    @include min-pc {
      width: 64px;
      height: 64px;
    }
  }

  .headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include min-pc {
      padding: rem(8px) 0;
    }

    a {
      text-decoration: none;
      font-weight: 500;
      letter-spacing: 0;
    }

    .navBar {
      margin-bottom: 0;
      padding: 0;
      display: none;
      flex-wrap: wrap;
      font-weight: 500;
      color: $black-60-solid;
      line-height: (26/16);

      @include min-pc {
        display: flex;
        gap: rem(24px);
      }

      @include calcFontAuto(14px, 16px);

      li {
        @include mobile {
          flex: 0 0 100%;
          width: 100%;
        }
      }

      a {
        @include mobile {
          text-align: center;
          display: block;
        }

        sup {
          font-weight: 500;
          letter-spacing: 0.01em;
          color: #ff7e21;
          display: inline-block;
          transform: translateY(-0.2em);
          text-transform: none;

          @include calcFontAuto(10px, 12px);
        }
      }

      .active,
      a:hover {
        transition: all 0.3s;
        color: $black-100;
      }

      &.dark {
        color: $white-60-solid;

        .active,
        a:hover {
          transition: all 0.3s;
          color: $white;
        }
      }
    }

    .username {
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 14px;
      font-weight: 700;

      p {
        @include text-ellipsis;

        max-width: 150px;
        line-height: 24px;
      }
    }

    .price {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 12px;
      color: $black-60;
    }

    .dropdown {
      display: none;

      @include min-pc {
        display: block;
      }

      border-radius: 2px;
      border: 2px solid $black-10;
      overflow: hidden;
      min-width: rem(188);
      box-shadow: 8px 7px 24px 0 #00000026;
      position: absolute;
      right: 0;
      transform: translateY(11px);
      transition: all 0.2s;
      z-index: 10;
    }
  }

  .testNet,
  .topDiscord,
  :global(.divider) {
    transition: all 0.4s $easeOutCubic;
  }

  &.isMenuOpen {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;

    .testNet {
      opacity: 0;
      visibility: hidden;
    }

    :global(.divider) {
      opacity: 0;
      visibility: hidden;
    }
  }

  &:not(.isDisplay) {
    position: sticky;
    top: 0;
  }
}

.logo {
  display: block;

  @include min-pc {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  iframe {
    pointer-events: none;
  }

  img {
    width: rem(54px);
    height: rem(54px);

    @include min-tablet {
      width: rem(64px);
      height: rem(64px);
      max-width: 64px;
      max-height: 64px;
    }
  }
}

.testNet,
.topDiscord {
  background: #4f43e2;
  font-style: normal;
  font-weight: 400;
  line-height: (24/14);
  color: #fff;

  @include calcFontAuto(12px, 14px);

  text-align: center;
  padding: rem(4px) rem(16px) rem(4px) rem(16px);

  @include min-tablet {
    padding: rem(0) rem(16px) rem(8px) rem(16px);
  }

  button {
    background: none;
    position: absolute;
    right: vw(72px);
  }

  img {
    margin-right: 6px;
    display: none;
    width: rem(24px);
    height: rem(24px);

    @include min-tablet {
      display: inline-block;
      transform: translateY(0.5em);
    }
  }

  a {
    display: inline-block;
    margin-left: 6px;
    text-decoration: underline !important;
    cursor: pointer !important;

    &:hover {
      color: rgba($white, 0.8);
    }
  }
}

.topDiscord {
  padding-top: rem(8px);
}

.header {
  &_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &_links {
      margin-right: rem(26px);

      a {
        @include calcFontAuto(14px, 16px);

        font-weight: 500;
        color: $black-60-solid;
        line-height: (26/16);
      }

      .active {
        a {
          color: $black-100;
        }
      }

      &.dark {
        .active {
          a {
            color: $white;
          }
        }
      }
    }
  }
}

.btnMenuMobile {
  display: block;
  background: none;
  padding: rem(8px) 0;
  margin-left: rem(15px);

  svg {
    width: 24px;
    height: 24px;
  }

  &_inner {
    position: relative;
    display: block;

    > div:nth-child(1) {
      opacity: 0;
    }

    > div:nth-child(2) {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  &.isOpenMenu {
    .btnMenuMobile_inner {
      > div:nth-child(2) {
        opacity: 0;
      }

      > div:nth-child(1) {
        opacity: 1;
      }
    }
  }

  @include min-pc {
    display: none;
  }
}
