.wrapper {
  margin-top: rem(90);
  margin-bottom: rem(90);
}

.switch_currency {
  justify-content: flex-end;
}

.collection {
  gap: rem(5);
  padding-left: rem(5);
}

.actions {
  text-align: right;
}

.Records_table {
  margin-top: rem(48);
}

.Withdraw_all {
  &_btn {
    display: flex;
    align-items: center;
    gap: rem(10);
    margin-left: auto;

    .dots {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $white;
    }
  }
}

.table_wrapper {
  position: relative;

  .loading {
    position: absolute;
    top: rem(40px);
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $white;
    z-index: 1;
  }
}
