.uploadThumbnail {
  margin-bottom: rem(36px);
}

.uploadThumbnailBtn {
  display: flex;
  gap: 6px !important;
  align-items: center;
  padding: 11px 0 !important;
  background-color: $black-5;
  justify-content: center;
  width: 100%;
  cursor: pointer;

  .fileName {
    font-style: normal;
    line-height: (26/16);
    letter-spacing: 0.01em;
    color: $primary-brand;
    font-weight: 700;
    @include calcFontAuto(14px, 16px);
  }

  .requiredTag {
    color: $secondary-red;
  }

  &:hover {
    background-color: $primary-purple-50 !important;
  }
}

.errorText {
  margin-top: rem(6px);
  color: $secondary-red;
  font-style: normal;
  line-height: (24/14);
  letter-spacing: 0.01em;
  @include calcFontAuto(12px, 14px);
}
