.search {
  padding: rem(60px) 0 rem(88px) 0;
  &_tabs {
    margin-right: rem(24);
    display: inline-block;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &_results {
    margin-top: 50px;
  }
}
