.uploadGenArt {
  position: relative;
  height: 100%;

  .uploadWrapper {
    margin: auto;
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: rem(48px) rem(64px) rem(80px);
    box-shadow: 35px 15px 120px rgb(0 0 0 / 15%);
    border-radius: 2px;
    margin-bottom: 42px;
  }

  .uploadSuccessWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: rem(40px);
    padding-bottom: rem(30px);
  }

  .sectionTitle {
    margin-bottom: rem(8px);
  }

  .linkDocs {
    margin-bottom: rem(24px);

    a {
      color: $primary-brand;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .infoIcon {
    margin-left: 8px;
    margin-bottom: 8px;
    display: inline-block;
  }

  .dropZoneContainer {
    cursor: pointer;
  }

  .disclaimerWrapper {
    margin: auto;
    max-width: rem(343px);
    position: absolute;
    top: 0;
    left: calc(100% + rem(66px));
    width: max-content;

    @include max-tablet {
      position: relative;
      left: 0;
    }
  }

  .disclaimer {
    margin-bottom: 16px;
    color: $black-60;
  }

  .link {
    color: $black-100;
    text-decoration: underline;
  }

  .uploadFiles {
    margin-bottom: 24px;
  }

  .zipFileInfo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .folderIcon {
    display: inline-block;
    margin-right: 14px;
  }

  .zipFileList {
    padding-left: 42px;
  }

  .fileItem {
    .fileInfo {
      display: flex;
      align-items: center;
    }

    .errorText {
      color: $secondary-red;
      font-weight: 700;
    }

    .fileError {
      font-size: rem(14px);
      line-height: rem(20px);
      padding-left: rem(30px);
      color: $secondary-red;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .codeIcon {
    display: inline-block;
    margin-right: 6px;

    &__error {
      :global(svg path) {
        fill: $secondary-red;
      }
    }
  }

  .stepFooterWrapper {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100vw;
    left: 0;
    right: 0;
  }

  .stepFooter {
    padding: 28px 0;
    background-color: $white-100;
    border-top: 1px solid $black-10;
  }

  .checkboxWrapper {
    margin-bottom: rem(24px);
  }

  .checkbox {
    :global(input) {
      accent-color: $black-100;
    }
  }

  .actionWrapper {
    button:disabled,
    button[disabled] {
      svg path {
        stroke: $black-10;
      }
    }
  }

  .zipFileWrapper {
    padding-bottom: 24px;
    border-bottom: 1px solid $black-10;
    margin-bottom: 24px;
  }

  .projectAttributeWrapper {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid $black-10;
  }

  .attrTitle {
    color: $black-100;
    margin-bottom: 6px;
  }

  .attrDescription {
    margin-bottom: 10px;
  }

  .attrItem {
    &:not(:last-child) {
      margin-bottom: rem(4px);
    }
  }

  .attrKey {
    margin-right: rem(10px);
  }

  .collectionTypeWrapper {
    margin-bottom: rem(24px);

    .collectionTypeLabel {
      text-align: left;
      font-weight: 500;
      font-size: rem(12px);
      line-height: rem(20px);
      color: $black-60;
      display: block;
      margin-bottom: 6px;
      text-transform: uppercase;
    }

    .choiceList {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: rem(16px);
    }

    .choiceItem {
      display: block;
      width: 50%;
      position: relative;
      padding-left: rem(40px);
      cursor: pointer;
      user-select: none;
      font-weight: 400;
      font-size: rem(16px);
      line-height: rem(26px);
      text-align: left;

      &:hover {
        .checkmark {
          background-color: $black-20;
        }
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: rem(24px);
        width: rem(24px);
        border: 1px solid $black-20;
        background-color: $white;
        border-radius: 2px;

        &::after {
          content: "";
          position: absolute;
          display: none;
        }
      }

      &__active {
        .checkmark {
          background-color: $black-100 !important;

          &::after {
            display: block;
            left: rem(9px);
            top: rem(4px);
            width: rem(6px);
            height: rem(12px);
            border-radius: 1px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}
