.leaderboard {
  padding: rem(56px) 0;

  .pageHeader {
    margin-bottom: rem(56px);
  }

  .pageTitle {
    color: $neutral-80;
    text-align: center;
    margin-bottom: rem(16);
  }

  .pageDescription,
  .emptyText {
    font-weight: 400;
    font-size: rem(16px);
    line-height: rem(26px);
    color: $neutral-80;
    text-align: center;
    margin: 0 auto;
    max-width: rem(632px);
  }

  .testnetBtn {
    margin-top: rem(16);
    font-size: rem(16);
    font-weight: 500;

    a {
      text-decoration: none;
    }
  }

  .pageBody {
    position: relative;
  }

  .emptyDataWrapper {
    text-align: center;
  }

  .emptyImage {
    display: inline-block;
    margin-bottom: rem(24px);
  }

  .dataTable {
    max-width: rem(1194px);
    margin: 0 auto;
  }

  .artistCol {
    position: relative;
    display: flex;
    gap: rem(10);
    align-items: center;
  }

  .badgesCol {
    position: relative;
    width: rem(200px);

    @include mobile {
      width: rem(150px);
    }
  }

  .dataCol {
    @include mobile {
      min-width: rem(100px);
    }
  }

  .displayName {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
