.leaderboard {
  padding: rem(56px) 0;

  .pageHeader {
    margin-bottom: rem(56px);
  }

  .pageTitle {
    font-weight: 700;
    font-size: rem(48px);
    line-height: rem(58px);
    color: $neutral-80;
    text-align: center;
  }

  .pageDescription,
  .emptyText {
    font-weight: 400;
    font-size: rem(16px);
    line-height: rem(26px);
    color: $neutral-80;
    text-align: center;
    margin: 0 auto;
    max-width: rem(632px);
  }

  .pageBody {
    position: relative;
  }

  .emptyDataWrapper {
    text-align: center;
  }

  .emptyImage {
    display: inline-block;
    margin-bottom: rem(24px);
  }
}
