.leaderboard {
  padding: rem(56px) 0;
  padding-right: rem(80);

  .pageHeader {
    margin-bottom: rem(16px);
  }

  .pageTitle {
    color: $neutral-80;
    margin-bottom: rem(16);
  }

  .pageDescription,
  .emptyText {
    font-weight: 400;
    font-size: rem(16px);
    line-height: rem(26px);
    color: $neutral-80;
  }

  .testnetBtn {
    margin-top: rem(16);
    font-size: rem(16);
    font-weight: 500;

    a {
      text-decoration: none;
    }
  }

  .pageBody {
    position: relative;
  }

  .emptyDataWrapper {
    text-align: center;
  }

  .emptyImage {
    display: inline-block;
    margin-bottom: rem(24px);
  }

  .dataTable {
    max-width: rem(1194px);
    margin: 0 auto;
  }

  .artistCol {
    position: relative;
    display: flex;
    gap: rem(10);
    align-items: center;
  }

  .badgesCol {
    position: relative;
    width: rem(200px);

    @include mobile {
      width: rem(150px);
    }
  }

  .dataCol {
    @include mobile {
      min-width: rem(100px);
    }
  }

  .displayName {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.earnGen {
  padding-left: rem(62);
  border-left: 1px solid $black-10;
  padding-top: rem(75);

  &_title {
    margin-bottom: rem(50);
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: rem(24);
  }

  &_card {
    padding: rem(24);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 10px 0 #cecece !important;

    &:hover {
      box-shadow: 10px 10px 0 #4f43e2 !important;
    }

    > button {
      height: fit-content;
      padding: rem(11) rem(20) !important;
      min-width: rem(192);
      justify-content: center;
    }

    &_info h5 {
      margin-bottom: rem(2);
    }
  }
}
