.wrapper {
  margin-top: rem(18px);
  margin-bottom: rem(141px);
}

.back_btn {
  margin-top: rem(16px);
}

.setting {
  h4 {
    margin-bottom: rem(40px);
  }
}

.editProfile {
  margin-top: rem(40px);

  @include min-pc {
    margin-top: rem(60px);
  }

  &_row {
    justify-content: center;
  }

  &_tabs {
    display: flex;
    gap: rem(24px);
    margin-bottom: rem(48px);
    margin-top: rem(48px);

    li {
      border-bottom: 2px solid transparent;
      cursor: pointer;

      span {
        color: $black-60-solid;
      }

      &.isActive {
        border-bottom: 2px solid $primary-brand;

        span {
          color: $primary-brand;
        }
      }
    }
  }
}
