.setPrice {
  padding-top: 28px;

  .descriptionTitle {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: $black-60-solid;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .description {
    margin-top: 4px;
  }

  .divider {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 44px;
    height: 1px;
    background-color: $black-40;
  }

  .formItem {
    margin-bottom: 24px;
  }

  .label {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: $black-60-solid;
    display: block;
    margin-bottom: 6px;
    text-transform: uppercase;
  }

  .input {
    background-color: $background;
    font-weight: 500;
    color: $black-100;
    padding: 11px 78px 11px 14px;
    border-radius: 2px;
    width: 100%;
    resize: none;
    line-height: (26/16);

    @include calcFontAuto(14px, 16px);

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $black-40-solid;
      opacity: 1; /* Firefox */
    }

    &:input-placeholder {
      /* Internet Explorer 10-11 */
      color: $black-40-solid;
    }

    &::input-placeholder {
      /* Microsoft Edge */
      color: $black-40-solid;
    }
  }

  .requiredTag {
    color: $secondary-red;
  }

  .inputDesc {
    font-weight: 500;
    margin-top: rem(10px);
  }

  .inputContainer {
    position: relative;

    .inputPostfix {
      min-width: 54px;
      text-align: center;
      position: absolute;
      right: 14px;
      top: 11px;
      font-weight: 500;
      color: $black-100;
      padding-left: 2px;
      border-left: 1px solid $black-20;
      line-height: (26/16);

      @include calcFontAuto(14px, 16px);
    }
  }

  .error {
    font-size: 12px;
    font-weight: 400;
    color: $secondary-red;
    line-height: 20px;
    margin-top: rem(6px);
  }
}

.projectDetail {
  padding-top: 28px;

  .formItem {
    margin-bottom: 24px;
  }

  .label {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: $black-60-solid;
    display: block;
    margin-bottom: 6px;
    text-transform: uppercase;
  }

  .input {
    background-color: $background;
    line-height: (26/16);
    color: $black-100;
    padding: rem(11px) rem(14px);
    border-radius: 2px;
    width: 100%;
    resize: none;
    white-space: normal;

    @include calcFontAuto(14px, 16px);

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $black-40-solid;
      opacity: 1; /* Firefox */
    }

    &:input-placeholder {
      /* Internet Explorer 10-11 */
      color: $black-40-solid;
    }

    &::input-placeholder {
      /* Microsoft Edge */
      color: $black-40-solid;
    }
  }

  .requiredTag {
    color: $secondary-red;
  }

  .tagInput {
    background-color: transparent;
    flex: 1;
  }

  .tagsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .tagItem {
    margin: 2px;
    background-color: $black-10;
    border-radius: 2px;
    display: flex;
    padding-left: 4px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    align-items: center;
  }

  .removeTagBtn {
    margin-left: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 22px;
    cursor: pointer;
    border-radius: 2px;

    &:hover {
      background-color: #ffbdad;

      svg {
        path {
          fill: #de350b;
        }
      }
    }
  }

  .selectInput {
    :global(.select__control) {
      background-color: $background;
      border: none;
      outline: none;
      box-shadow: none;
      border-radius: 2px;
      min-height: rem(48px);
    }

    :global(.select__indicator-separator) {
      display: none;
    }

    :global(.select__placeholder) {
      color: $black-40-solid;
      line-height: (26/16);

      @include calcFontAuto(14px, 16px);
    }

    :global(.select__multi-value__label) {
      font-weight: 400;
      line-height: 1;

      @include calcFontAuto(12px, 14px);
    }

    :global(.select__input-container) {
      color: $black-100;
      font-weight: 500;
      line-height: (26/16);

      @include calcFontAuto(14px, 16px);
    }

    :global(.select__dropdown-indicator) {
      color: $primary-brand;
    }
  }

  .error {
    font-size: 14px;
    font-weight: 400;
    color: $secondary-red;
    line-height: 20px;
    margin-top: 6px;
  }

  .hidden {
    display: none !important;
  }
}

.uploadPreviewWrapper {
  background: #f8f8f8;
  position: relative;

  img {
    height: rem(160px) !important;
    object-fit: contain !important;
    width: 100% !important;
    position: relative !important;
  }

  &_upload {
    label {
      padding: rem(16px);
      padding-bottom: rem(40px);
    }
  }

  &_thumb {
    position: absolute;
    bottom: rem(10px);
    width: 100%;
    z-index: 9;
    pointer-events: none;

    p {
      margin-top: rem(16px);
      display: block;
      text-align: center;

      span {
        display: inline-block;
        padding: rem(5px);

        @include calcFontAuto(10px, 12px);

        text-transform: uppercase;
        font-weight: 600;
        color: $black-60-solid;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.label_checkbox {
  display: flex;
  justify-content: flex-start;
  gap: rem(5px);
}

.actionWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: rem(32px);
  gap: rem(24px);

  .nextBtn {
    flex: 1;
    justify-content: center;
  }
}

.label {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: $black-60-solid;
  display: block;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.updateTraits {
  margin-top: rem(24);
}
