.wrapper {
  --s-wrapper-bg-color: #{$background};
  --s-searchresult-wrapper-bg-color: #{$white};
  --s-searchresult-wrapper-boxshadow: #00000026;
  --s-searchresult-item-focus: #{$black-5};
  --s-searchresult-item-link-color: #{$primary-brand};
  --s-stroke: #{$primary-brand};
  --s-input-color: #{$primary-brand};
  --s-sec-color: #898989;

  &.dark {
    --s-wrapper-bg-color: #2e2e2e;
    --s-searchResult_wrapper-bg-color: #2e2e2e;
    --s-searchResult_wrapper-boxshadow: rgb(0 0 0 / 15%);
    --s-searchResult_item-focus: #5b5b5b;
    --s-searchResult_item_link_color: #fff;
    --s-stroke: #fff;
    --s-input-color: #fff;
    --s-sec-color: #898989;
  }

  position: relative;
  min-width: rem(300);
  background-color: var(--s-wrapper-bg-color);

  @include mobile {
    min-width: rem(200);
  }
}

.searchInput_wrapper {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  padding: rem(12);
  border-radius: 2px;
  justify-content: flex-end;

  @include mobile {
    padding: rem(8);
  }

  .input {
    width: rem(300);
    background-color: transparent;
    color: var(--s-input-color);

    @include mobile {
      width: rem(200);

      &::placeholder {
        font-size: rem(14);
      }
    }
  }

  .searchIcon {
    opacity: 0.7;
    cursor: pointer;

    svg path {
      stroke: var(--s-stroke);
    }

    &:hover {
      opacity: 1;
    }
  }
}

.searchResult_wrapper {
  position: absolute;
  width: 100%;
  min-width: rem(320);
  background-color: var(--s-searchresult-wrapper-bg-color);
  box-shadow: 35px 15px 120px 0 var(--s-searchresult-wrapper-boxshadow);
  margin-top: rem(12);
  max-height: rem(700);
  overflow-y: scroll;
  right: 0;

  &::-webkit-scrollbar {
    width: 4px;
    position: absolute;
    left: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgb(0 0 0 / 15%);
  }

  .searchResult_item {
    padding: rem(10) rem(16) !important;
    display: flex;
    align-items: center;
    gap: rem(12);

    &_link {
      cursor: pointer;
      color: var(--s-searchresult-item-link-color);

      &:hover,
      &:focus {
        background-color: var(--s-searchresult-item-focus);
      }
    }

    &_loading {
      padding: rem(60);
    }

    &_member {
      flex-direction: row;
      gap: rem(8);
    }
  }

  .searchResult_collectionName,
  .searchResult_creatorName {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    flex: 1;

    @include text-ellipsis;
  }

  .list_heading {
    padding-top: rem(14);
    padding-left: rem(16);
    padding-bottom: rem(6);
  }

  .searchResult_collectionThumbnail {
    width: rem(34px);
    height: rem(34px);
    background-color: #f7f9fb;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}
