.wrapper {
  position: relative;

  @include mobile {
    min-width: rem(200);
  }
}

.searchInput_wrapper {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  padding: rem(12);
  border-radius: 2px;
  justify-content: flex-end;

  @include mobile {
    padding: rem(8);
  }

  &.expand {
    border-color: $black-40;

    .input {
      width: rem(200);
      transition: width 0.75s cubic-bezier(0, 0.795, 0, 1);

      @include mobile {
        width: rem(100);
      }
    }

    .dropdownOptions {
      width: rem(120);
      overflow: visible;

      @include mobile {
        width: rem(100);
      }
    }

    .h_divider {
      display: block;
    }
  }

  .input {
    width: 0;
    transition: width 0.75s cubic-bezier(0, 0.795, 0, 1);

    @include mobile {
      &::placeholder {
        font-size: rem(14);
      }
    }
  }

  .searchIcon {
    opacity: 0.7;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  .dropdownOptions {
    width: 0;
    overflow: hidden;

    :global(.select__control) {
      border: none;
      width: rem(120);
      min-height: unset;
      box-shadow: none;
      cursor: pointer;

      @include mobile {
        width: rem(100);
        font-size: rem(14);
      }
    }

    :global(.select__indicator-separator) {
      display: none;
    }

    :global(.select__menu) {
      border-radius: 2px;
      margin-top: rem(20);
      width: rem(150);
      transform: translateX(-11px);
      box-shadow: $shadow;
      border: 1px solid $black-10;

      @include mobile {
        width: rem(120);
      }
    }

    :global(.select__menu-list) {
      padding: 0;
      border-radius: 2px;
    }

    :global(.select__option):hover {
      background-color: $black-10;
      cursor: pointer;
    }

    :global(.select__dropdown-indicator) {
      padding: 0;
    }

    :global(.select__value-container) {
      padding: 0;
    }

    :global(.select__option--is-selected) {
      background-color: #fff;
      color: $black-100;
    }
  }

  .h_divider {
    width: 1px;
    height: rem(20);
    background-color: $black-40;
    margin: 0 rem(12);
    display: none;

    @include mobile {
      margin: 0 rem(8);
    }
  }
}

.searchResult_wrapper {
  position: absolute;
  width: 100%;
  min-width: rem(300);
  background-color: $white;
  border: 1px solid $black-40;
  margin-top: rem(12);
  max-height: rem(300);
  overflow-y: scroll;
  right: 0;

  &::-webkit-scrollbar {
    width: 4px;
    position: absolute;
    left: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgb(0 0 0 / 15%);
  }

  .searchResult_item {
    padding: rem(12) !important;
    border-bottom: 1px solid $black-10;
    display: flex;
    flex-direction: column;
    gap: rem(4);

    &_link {
      cursor: pointer;

      &:hover,
      &:focus {
        background-color: $black-10;
      }
    }

    &_loading {
      padding: rem(60);
    }

    &_member {
      flex-direction: row;
      gap: rem(8);
    }
  }

  .searchResult_collectionName,
  .searchResult_creatorName {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;

    @include text-ellipsis;
  }
}
