.blockContent {
  padding: rem(24px);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;

  &:hover {
    background: linear-gradient(90deg, rgb(79 67 226 / 10%) 9.24%, rgb(226 96 67 / 6%) 97.01%);
    border-bottom: 2px solid rgb(255 255 255 / 5%);
    border-top: 2px solid rgb(255 255 255 / 5%);
    cursor: pointer;
  }
}
