.userInfo {
  position: sticky;
  top: rem(120px);

  &_content {
    position: relative;

    &_wrapper {
      margin-top: rem(24px);
    }

    &_displayName {
      margin-top: rem(0);
      margin-bottom: rem(0);
    }

    &_address {
      width: fit-content;
      margin-top: rem(0);
    }

    &_avatar {
      background: $white;
      border-radius: 50%;
      overflow: hidden;
      border: rem(6px) solid $white;
      height: rem(160px);
      width: rem(160px);

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
      }
    }

    &_btcWallet {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &_evmWallet {
      padding-top: rem(12px);
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .iconCopy {
      cursor: pointer;
      margin-left: 8px;

      :hover {
        opacity: 0.9;
      }
    }

    &_display {
      display: flex;
      flex-wrap: wrap;

      .userName {
        margin-right: rem(20px);

        @include mobile {
          width: 100%;
        }
      }
    }
  }

  &_socials {
    &_list {
      display: flex;
      justify-content: flex-end;
      gap: 12px;
      padding-top: rem(32px);
    }

    &_item a {
      height: rem(40px);
      width: rem(40px);
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $black-20;
      border-radius: 2px;
      transition: background-color 0.4s $easeOutCubic;

      &:hover {
        background: $black-20;
      }

      img,
      svg {
        width: rem(24px);
        height: rem(24px);
      }
    }
  }
}

.editProfile,
.bio {
  margin-top: rem(24px);
}

.bio {
  max-width: rem(390px);
}

.userInfo_content_wrapper_info {
  display: flex;
  margin-bottom: rem(16px);

  &_name {
    max-width: rem(150px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.creator {
  &_social {
    display: flex;
    gap: rem(20);
    align-items: center;

    &_item {
      display: flex;
      align-items: center;
      gap: rem(6);

      &_inner {
        display: flex;
        align-items: center;
        gap: rem(6);
      }

      &:not(.isVerified) {
        .creator_social_item_inner {
          filter: grayscale(100%);
          opacity: 0.5;
        }
      }
    }

    &_twitter {
      svg,
      path {
        fill: #3cf;
      }
    }
  }
}
