.groups {
  display: flex;
  flex-wrap: wrap;
  column-gap: rem(24);
  row-gap: rem(8);

  .inputGroups {
    display: flex;
    align-items: center;
    gap: rem(12);

    label {
      //font-size: rem(18);
      //line-height: rem(28);
      cursor: pointer;
    }
  }

  input[type="radio"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    color: $black-20;
    width: rem(18);
    height: rem(18);
    border: 2px solid $black-20;
    border-radius: 50%;
    transition: 120ms border ease-in-out;
    cursor: pointer;
  }

  input[type="radio"]:checked {
    border: 5px solid $secondary-purple-c;
  }
}
