.stepHeader {
  .stepList {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(35px);

    @include mobile {
      gap: rem(12px);
    }
  }

  .stepIndexWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(76px);
    height: rem(60px);
    border: 2px solid $black-10;
    border-radius: rem(40px);
    margin-bottom: rem(14px);

    @include mobile {
      width: rem(40px);
      height: rem(30px);
      border: 1px solid $black-10;
    }
  }

  .stepActiveDot {
    background: $secondary-purple-a;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: none;
  }

  .stepTitleWrapper {
    display: flex;
    gap: 8px;
    align-items: center;

    .stepTitle {
      text-align: center;
    }

    @include mobile {
      gap: 0;
    }
  }

  .stepItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &__active {
      .stepIndexWrapper {
        background: $primary-brand;
      }

      .stepIndex {
        color: $white-100;
      }

      .stepActiveDot {
        display: inline-block;

        @include mobile {
          display: none;
        }
      }

      .stepTitle {
        color: $black-100;
      }
    }

    &__disabled {
      cursor: not-allowed;
    }
  }
}
