@import 'src/styles/_themes/variables';
@import 'src/styles/_themes/mixins';

.CheckoutModal {

  :global(.modal-dialog) {
    @media (min-width: 576px) and (max-width: 1400px) {
      max-width: 90%;
    }
  }

  &_title {

    font-weight: 700;
    color: $neutral-08;
    margin-bottom: rem(16);

    line-height: (28/20);
    @include calcFontAuto(18px, 20px);
  }

  &_shippingTitle {
    margin-top: rem(40);
  }

  &_optionsContainer {

    display: flex;
    gap: 10px;
  }

  &_optionItem {
    flex: 0 0 100%;
    width: 100%;

    @include min-pc {
      display: flex;
      align-items: center;
      gap: rem(24px);
    }

    img {
      width: 230px;
    }
  }

  &_optionItemContainer {
    flex: 1;
    justify-content: space-between;
    text-align: left;
    margin-top: rem(12);
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
  }

  &_optionItemName {
    font-weight: 500;
    color: $neutral-06;
    line-height: (26/18);
    @include calcFontAuto(16px, 18px);
  }

  &_optionItemPrice {
    font-weight: 700;

    color: $neutral-08;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: rem(12px);
    margin-bottom: rem(10px);

    line-height: (26/18);
    @include calcFontAuto(16px, 18px);

    &_disCount {
      color: #B1B5C3;
      text-decoration-line: line-through;
    }
  }

  &_optionItemQty {
    height: 48px;
    background-color: $neutral-08;

    input {
      color: $white !important;
    }

    :global(.btnEditQty:not([class*='disabled']) svg) {
      color: $white;
    }
  }

  &_optionItemImg {
    width: 128px;
  }

  &_input {
    width: 100%;

    &:not(:first-of-type) {
      margin-top: rem(12);
    }
  }

  &_regionGroup {
    display: grid;
    grid-template-columns: 0.3fr 0.4fr 0.3fr;
    gap: rem(12);
    margin-top: rem(12);

    @include max-tablet {
      grid-template-columns: 1fr;
    }

    @include mobile {
      gap: rem(5);
    }
  }

  &_orderSummary {
    min-width: 40%;
    margin-left: rem(40);
    padding: rem(16);
    background-color: $neutral-02;
    align-self: baseline;

    @include mobile {
      min-width: 100%;
      margin-left: 0;
    }
  }

  &_summaryLine {
    display: flex;
    justify-content: space-between;
    margin-top: rem(16);
    font-weight: 500;

    line-height: (24/16);
    @include calcFontAuto(14px, 16px);

    &:last-of-type {
      margin-top: rem(20);
      padding-top: rem(20);
      border-top: 1px solid #e1e2e2;
      font-weight: 600;

      line-height: (26/18);
      @include calcFontAuto(16px, 18px);

    }

    .highlight {
      font-weight: 600;
      color: $black;
    }
  }

  &_orderShippingDate {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $neutral-06;
    margin-top: rem(4);
  }

  &_submitBtn {
    width: 100%;
    margin-top: rem(20);
  }

  :global(.modal-body) {
    display: flex;
    padding: rem(40) rem(32);

    @include mobile {
      flex-direction: column;
      gap: 32px;
    }
  }

  :global(.modal-dialog) {
    min-width: 60vw;
  }

  :global(.modal-header) {
    position: absolute;
    border: none;
    right: rem(4);
    top: rem(4);
    z-index: 1;
  }

  :global(.modal-content) {
    border-radius: 12px;
    border: none;
  }

  &_discount {
    background: rgba(186, 237, 189, 0.3);
    border: 1px solid #00AA6C;
    box-shadow: 8px 7px 24px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(16px);

    @include max-tablet {
      padding-top: rem(5px);
      padding-bottom: rem(5px);
    }

    span {
      transform: translateY(.1em);
    }
  }
}

.OrderSuccessModal {
  display: grid !important;
  place-items: center;

  :global(.modal-body) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(16);
    padding: 32px;
  }

  :global(.modal-content) {
    border-radius: 8px;
  }

  &_title {
    font-weight: 600;
    line-height: (34/24);
    @include calcFontAuto(18px, 24px);
  }

  &_content {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  &_email {
    color: $neutral-07;
    font-weight: 600;
  }

  &_button {
    width: 100%;
    margin-top: 16px;
  }
}

.errorMessageWrapper {
  margin-top: 12px;

  .errorMessage {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: $secondary-red;
  }
}
