.modalWrapper {
  :global(.modal-content) {
    border-radius: 2px;
    padding: rem(48);
    position: relative;
  }
}

.modalHeader {
  display: flex;
  justify-content: flex-end;
  border: none;
  padding: 0;
}

.closeBtn {
  padding: rem(18.8) !important;
  background-color: transparent !important;
  position: absolute;
  right: 0;
  top: 0;
  // transform: translate(-18px, 18px);

  &:hover {
    .closeIcon {
      transform: rotate(90deg);
      transition: all 0.3s;

      :global(svg path) {
        fill: $black-100;
        fill-opacity: 1;
      }
    }
  }
}

.delegate_input {
  margin-top: rem(12);
  margin-bottom: rem(22);
}

.actionWrapper {
  margin-top: rem(26);
  display: flex;
  align-items: center;
  gap: rem(10);

  > button {
    flex: 1;
    justify-content: center;
  }
}
