.collectionCard {
  text-decoration: none;
  height: 100%;
  position: relative;
  overflow: hidden;

  &_inner_wrapper {
    position: relative;
    border: 1px solid rgb(0 0 0 / 20%);
    border-radius: 2px;
    transition: box-shadow 0.4s $easeOutCubic, border-color 0.4s $easeOutCubic;

    &:hover {
      box-shadow: 0 4px 20px rgb(0 0 0 / 15%);
      border-color: #1c1c1c;
    }
  }

  // &_inner {
  //   // padding: rem(16px);
  //   background: #fff;
  //   height: 100%;
  //   position: relative;
  //   overflow: hidden;

  //   @include mobile {
  //     padding: rem(8px);
  //   }

  //   &:hover {
  //     box-shadow: 0 4px 20px rgb(0 0 0 / 15%);
  //     border-color: #1c1c1c;
  //   }
  // }

  &_thumb {
    width: 100%;
    position: relative;
    border-radius: 2px;
    padding: rem(16px);

    @include mobile {
      padding: rem(8px);
    }

    &_inner {
      padding-bottom: 100%;
      position: relative;
      width: 100%;

      &_sk {
        height: 100%;
        position: absolute;
      }
    }

    &.isDefault {
      background: #fff;
    }

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &_info {
    border-top: 1px solid rgb(0 0 0 / 20%);
    padding: rem(16px);

    @include mobile {
      padding: rem(8px);
    }

    &_title {
      .textOverflow {
        display: flex;

        span {
          flex: 0 0 auto;
        }

        span:nth-child(1) {
          // flex: 1;
          // max-width: 50%;
          flex: 1;
          white-space: nowrap;
          text-overflow: ellipsis;
          //max-width: 80%;
          display: block;
          overflow: hidden;
        }

        .textOverflow {
          white-space: nowrap;
          text-overflow: ellipsis;
          display: block;
          overflow: hidden;
          flex: 0 0 100%;
        }
      }
    }

    &.desktop {
      .collectionCard_info_title {
        display: block;
        // margin-top: rem(10px);

        h4 {
          line-height: (34 / 24);

          @include calcFontAuto(18px, 24px);

          font-weight: 600;
          display: flex;
          gap: rem(5px);

          @include min-pc-wide {
            gap: rem(5px);
          }

          span {
            flex: 0 0 auto;
          }

          span:nth-child(1) {
            // flex: 1;
            // max-width: 50%;

            flex: 1;
            white-space: nowrap;
            text-overflow: ellipsis;
            //max-width: 80%;
            display: block;
            overflow: hidden;
          }
        }
      }

      .collectionCard_info_stack {
        justify-content: space-between;
        // flex-wrap: wrap;
        gap: rem(3px);
      }

      .collectionCard_info_listing {
        justify-content: space-between;

        &_owner {
          color: $black-40;
        }
      }
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.collectionCard_owner {
  &_avatar {
    height: rem(34px);
    width: rem(34px);
    border-radius: 50%;
    overflow: hidden;
  }
}

.collectionCard_info_skeleton {
  display: flex;
  align-items: center;
  gap: rem(6);
}

.collectionCard_info_title_loading {
  width: 100%;
  height: rem(30);
  margin-top: rem(5);
}

.ordinalsLinks {
  display: flex;
  justify-content: space-between;
  background: #fff2f4;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;

  @include min-pc {
    transform: translateY(101%);
    transition: transform 0.4s;
  }

  li {
    flex: 1;
  }

  a {
    display: block;
    padding: rem(20px);
    text-align: center;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .inscription {
    background: $primary-brand;
    color: $white;

    &:hover {
      color: $white;
    }
  }

  .buy_now {
    background: $primary-brand;
    color: $white;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;

    &:hover {
      color: $white;
    }
  }

  .content {
    color: $primary-brand;

    &:hover {
      color: $primary-brand;
    }
  }
}

.collectionCard:hover {
  .ordinalsLinks {
    transform: translateY(-1px);
  }
}
