.collectionCard {
  text-decoration: none;
  height: 100%;
  position: relative;
  overflow: hidden;

  &_inner_wrapper {
    background: #fff;
    min-height: 100%;
    transition: box-shadow 0.4s $easeOutCubic, border-color 0.4s $easeOutCubic;
    border: 1px solid transparent;

    &:hover {
      box-shadow: 0 2px 10px rgb(0 0 0 / 15%);
      border-color: rgba(#1c1c1c, 0.3);
    }
  }

  &_thumb {
    position: relative;
    width: 100%;
    background: #f7f9fb;
    padding: rem(32px);

    @include min-pc-superWide {
      padding: 32px;
    }

    @include mobile {
      padding: rem(8px);
    }

    &_selectIcon {
      display: flex;
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 100;
    }

    &_inner {
      padding-bottom: 100%;
      position: relative;
      width: 100%;

      &_sk {
        height: 100%;
        position: absolute;
      }
    }

    &.isDefault {
      background: #fff;
    }

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &_info {
    padding: {
      top: rem(24px);
      left: rem(16px);
      right: rem(16px);
      bottom: rem(16px);
    }

    &_artist {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &_name {
        font-weight: 500;
        font-size: rem(16px);
        line-height: rem(26px);
        color: $primary-brand;
      }
    }

    @include mobile {
      top: rem(12px);
      left: rem(6px);
      right: rem(6px);
      bottom: rem(6px);
    }

    &_title {
      .textOverflow {
        display: flex;

        span {
          flex: 0 0 auto;
        }

        span:nth-child(1) {
          // flex: 1;
          // max-width: 50%;
          flex: 1;
          white-space: nowrap;
          text-overflow: ellipsis;
          //max-width: 80%;
          display: block;
          overflow: hidden;
        }

        .textOverflow {
          white-space: nowrap;
          text-overflow: ellipsis;
          display: block;
          overflow: hidden;
          flex: 0 0 100%;
        }

        &_customDesc {
          font-weight: 500;
          font-size: rem(18px);
          color: $gray-9c;
        }
      }
    }

    &.desktop {
      .collectionCard_info_title {
        display: block;
        // margin-top: rem(10px);

        h4 {
          line-height: (34 / 24);

          @include calcFontAuto(18px, 24px);

          font-weight: 600;
          display: flex;
          gap: rem(5px);

          @include min-pc-wide {
            gap: rem(5px);
          }

          span {
            flex: 0 0 auto;
          }

          span:nth-child(1) {
            // flex: 1;
            // max-width: 50%;

            flex: 1;
            white-space: nowrap;
            text-overflow: ellipsis;
            //max-width: 80%;
            display: block;
            overflow: hidden;
          }
        }
      }

      .collectionCard_info_stack {
        justify-content: space-between;
        // flex-wrap: wrap;
        gap: rem(3px);
        align-items: flex-start;
      }

      .collectionCard_info_wrapper {
        flex-wrap: wrap;

        &_ownerName {
          width: 100%;
          font-weight: 500;
          font-size: rem(20px);
          line-height: rem(30px);
          color: $black-40-solid;
        }

        &_waiting {
          width: 100%;
          color: $gray-9c;
          font-style: italic;
        }
      }

      .collectionCard_info_listing {
        justify-content: space-between;

        &_owner {
          color: $black-40;
        }
      }
    }
  }

  &:hover {
    cursor: pointer;
  }

  &.isShop {
    .collectionCard_thumb,
    .collectionCard_info {
      padding: rem(16px);
    }
  }
}

.collectionCard_owner {
  &_avatar {
    height: rem(34px);
    width: rem(34px);
    border-radius: 50%;
    overflow: hidden;
  }
}

.collectionCard_info_skeleton {
  display: flex;
  align-items: center;
  gap: rem(6);
}

.collectionCard_info_title_loading {
  width: 100%;
  height: rem(30);
  margin-top: rem(5);
}

.ordinalsLinks {
  display: flex;
  justify-content: space-between;
  background: #fff2f4;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;

  @include min-pc {
    transform: translateY(101%);
    transition: transform 0.4s;
  }

  li {
    flex: 1;
  }

  a {
    display: block;
    padding: rem(20px);
    text-align: center;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .inscription {
    background: $primary-brand;
    color: $white;

    &:hover {
      color: $white;
    }
  }

  .buy_now {
    background: $primary-brand;
    color: $white;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;

    &:hover {
      color: $white;
    }
  }

  .content {
    color: $primary-brand;

    &:hover {
      color: $primary-brand;
    }
  }
}

.collectionCard:hover {
  .ordinalsLinks {
    transform: translateY(-1px);
  }
}

.row {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  flex-wrap: wrap;
  justify-content: space-between;

  @include w-min(1400px) {
    gap: 8px;
    flex-direction: column;
  }

  @include w-min(1700px) {
    flex-direction: row;
    gap: 6px;
  }
}

.wrapButton {
  flex: 1;

  button {
    width: 100%;
    height: 100%;
  }
}
