.createProposalForm {
  padding-top: 16px;
  padding-bottom: 64px;

  .pageHeader {
    margin-bottom: rem(18px);
  }

  .backLink {
    font-weight: 500;
    font-size: rem(16px);
    line-height: rem(26px);
    color: $black-60;
  }

  .formWrapper {
    max-width: rem(630px);
    margin: 0 auto;
  }

  .formTitle {
    font-weight: 500;
    font-size: rem(34px);
    line-height: rem(44px);
    color: $black-100;
    margin-bottom: rem(16px);
  }

  .formItem {
    margin-bottom: 16px;
    width: 100%;
  }

  .label {
    font-weight: 500;
    font-size: rem(12px);
    line-height: rem(20px);
    color: $black-60;
    display: block;
    margin-bottom: 6px;
    text-transform: uppercase;
  }

  .input {
    background-color: $white-100;
    font-weight: 400;
    font-size: rem(16px);
    line-height: rem(26px);
    color: $black-100;
    padding: rem(11px) rem(14px);
    border: 1px solid $black-10;
    border-radius: 2px;
    width: 100%;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $black-40;
      opacity: 1; /* Firefox */
    }

    &:input-placeholder {
      /* Internet Explorer 10-11 */
      color: $black-40;
    }

    &::input-placeholder {
      /* Microsoft Edge */
      color: $black-40;
    }
  }

  .requiredTag {
    color: $secondary-red;
  }

  .twoCol {
    display: flex;
    align-items: flex-start;
    gap: rem(12px);

    @include mobile {
      flex-direction: column;
      gap: 0;
    }
  }

  .selectInput {
    width: 100%;

    :global(.select__control) {
      cursor: pointer;
      outline: none;
      box-shadow: none;
      min-height: 46.8px;
      border: 1px solid $black-10;
      border-radius: 2px;
      min-width: 100%;
      background-color: $white-100;

      @include mobile {
        min-height: rem(50px);
      }
    }

    :global(.select__indicator-separator) {
      display: none;
    }

    :global(.select__placeholder) {
      color: $black-40;
      font-weight: 500;
      line-height: (26/16);

      @include calcFontAuto(14px, 16px);
    }

    :global(.select__multi-value__label) {
      font-weight: 400;
      font-size: rem(16px);
      line-height: rem(26px);
      color: $black-100;
    }

    :global(.select__input-container) {
      color: $black-100;
      font-weight: 500;
      line-height: (26/16);

      @include calcFontAuto(14px, 16px);
    }
  }

  .actionWrapper {
    display: flex;
    justify-content: flex-end;
    gap: rem(12px);
  }

  .inputError {
    font-size: rem(14px);
    font-weight: 400;
    color: $secondary-red;
    line-height: rem(20px);
    margin-top: rem(6px);
  }
}
