.marketplaceContainer {
  overflow: hidden;

  &_recentWorks {
    overflow: hidden;
    padding: {
      top: rem(62px);
      bottom: rem(60px);
    }

    @include mobile {
      padding: {
        top: rem(40px);
        bottom: rem(64px);
      }
    }

    @include min-tablet {
      // border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
}
