.marketplaceContainer {
  overflow: hidden;

  &_recentWorks {
    overflow: hidden;
    padding: {
      bottom: rem(60px);
    }

    @include mobile {
      padding: {
        bottom: rem(64px);
      }
    }
  }
}
