.table {
  position: relative;
  overflow: scroll;

  .tableHead {
    border-bottom: 1px solid $black-10;

    &_item {
      font-size: 14px;
      font-weight: 500;
      line-height: rem(24px);
      color: $black-40;
      position: sticky;
      top: 0;
      background-color: #fff;
      z-index: 10;

      @include mobile {
        white-space: nowrap;
      }
    }
  }

  .tableData {
    border-bottom: 1px solid $black-10;

    &:hover {
      background-color: $primary-light;
    }

    &_item {
      padding-top: rem(20px);
      padding-bottom: rem(20px);
      color: $primary-333;
      font-size: rem(16px);
      line-height: rem(26px);
      font-weight: 600;
      vertical-align: middle;
    }
  }
}

.empty {
  height: rem(400);

  tr > div {
    position: absolute;
    top: 80px;
  }
}
