.statsInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: rem(6px);
  padding-bottom: rem(6px);
  color: $primary-333;
}

.seeMore {
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}
