.showFilter {
  grid-template-columns: 0.3fr 1fr;
  gap: rem(42px);

  @include mobile {
    grid-template-columns: 100%;
  }
}

.filterList {
  display: flex;
  align-items: center;
  gap: rem(10);
  margin-bottom: rem(24);
  flex-wrap: wrap;

  > button {
    max-height: rem(48px);
    font-weight: 500;
  }
}

.filterItem {
  gap: rem(10);
  border: 1px solid $black-20;
  padding: rem(11) rem(12);
  border-radius: 2px;
  width: fit-content;
}

.removeIcon {
  svg,
  path {
    stroke: $black-100;
    width: 16px !important;
    height: 16px !important;
  }
}

.listToken {
  &:global(.grid-cols-1) {
    grid-template-columns: 100%;
  }
}

.projectDetail_loading {
  max-height: rem(510px);
  top: rem(70px);
}

.collectionList {
  z-index: 1;
  position: relative;
  background-color: $white;
}

.list_empty {
  position: absolute;
  z-index: 10;
  top: 0;

  > div:first-of-type {
    width: rem(400);
  }
}

.loading {
  min-height: 50vh;
}
