.uploadGenArt {
  position: relative;
  height: 100%;

  .uploadWrapper {
    margin: auto;
    max-width: 500px;
    text-align: center;
    padding: rem(48px) rem(64px) rem(80px);
    box-shadow: 35px 15px 120px $black-10;
    margin-bottom: 42px;
  }

  .uploadSuccessWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: rem(40px);
    padding-bottom: rem(30px);
  }

  .sectionTitle {
    margin-bottom: rem(8px);
  }

  .linkDocs {
    margin-bottom: rem(24px);

    a {
      color: $primary-brand;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .infoIcon {
    margin-left: 8px;
    margin-bottom: 8px;
    display: inline-block;
  }

  .dropZoneContainer {
    cursor: pointer;
  }

  .disclaimerWrapper {
    margin: auto;
    max-width: rem(343px);
    position: absolute;
    top: 0;
    left: calc(100% + rem(66px));
    width: max-content;

    @include max-tablet {
      position: relative;
      left: 0;
    }
  }

  .disclaimer {
    margin-bottom: 16px;
    color: $black-60;
  }

  .link {
    color: $black-100;
    text-decoration: underline;
  }

  .uploadFiles {
    margin-bottom: 24px;
  }

  .zipFileInfo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .folderIcon {
    display: inline-block;
    margin-right: 14px;
  }

  .zipFileList {
    padding-left: 42px;
  }

  .fileItem {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .codeIcon {
    display: inline-block;
    margin-right: 6px;
  }


  .stepFooterWrapper {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100vw;
    left: 0;
    right: 0;
  }

  .stepFooter {
    padding: 28px 0;
    background-color: $white-100;
    border-top: 1px solid $black-10;
  }

  .checkboxWrapper {
    margin-bottom: rem(24px);
  }

  .checkbox {
    :global(input) {
      accent-color: $black-100;
    }
  }

  .actionWrapper {
    button:disabled,
    button[disabled] {
      svg path {
        stroke: $black-10;
      }
    }
  }

  .zipFileWrapper {
    padding-bottom: 24px;
    border-bottom: 1px solid $black-10;
    margin-bottom: 24px;
  }

  .projectAttributeWrapper {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid $black-10;
  }

  .attrTitle {
    color: $black-100;
    margin-bottom: 6px;
  }

  .attrDescription {
    margin-bottom: 10px;
  }

  .attrItem {
    &:not(:last-child) {
      margin-bottom: rem(4px);
    }
  }

  .attrKey {
    margin-right: rem(10px);
  }
}
