.stats {
  // display: flex;
  // align-items: flex-end;
  gap: rem(4px);
  margin-bottom: rem(6px);
}

.wrapper {
  .progressWrapper {
    width: 100%;
    max-width: rem(620px);
    height: rem(4px);
    position: relative;
    background-color: $black-10;
    border-radius: rem(100px);

    .progressBar {
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      border-radius: rem(100px);
      background-color: $secondary-green-c;
    }
  }
}
