$rank-col-width: rem(100);
$artist-col-width: rem(200);
$collections-col-width: rem(265);
$owners-col-width: rem(100);
$balance-col-width: rem(300);

.table {
  .tableHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(16);

    &_item {
      padding-top: rem(14);
      padding-bottom: rem(14);
      font-size: rem(14);
      font-weight: 500;
      color: $black-40;
    }
  }

  .tableHead_item:first-of-type {
    padding-left: rem(34);
  }
  //   .tableHead_item:last-of-type {
  //     width: rem(300);
  //   }

  .tableBody {
    display: flex;
    flex-direction: column;
    gap: rem(4);
  }

  .tableData {
    display: flex;
    align-items: center;
    gap: rem(11);
    padding-top: rem(18);
    padding-bottom: rem(18);
    background: $black-5;

    &:nth-of-type(1) {
      background: rgb(79 67 226 / 30%);
    }

    &:nth-of-type(2) {
      background: rgb(65 133 236 / 30%);
    }

    &:nth-of-type(3) {
      background: rgb(0 170 108 / 30%);
    }
  }
}

.rankCol {
  display: flex;
  align-items: center;
  gap: rem(20);
  min-width: rem(86);
  padding-left: rem(34);
  width: $rank-col-width;

  .positionChange {
    display: flex;
    align-items: center;
    gap: rem(4);
  }
}

.artistCol {
  display: flex;
  align-items: center;
  gap: rem(16);
  width: $artist-col-width;

  .displayName {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.collectionsCol {
  width: $collections-col-width;
  display: flex;
  align-items: center;
  gap: rem(16);
}

.ownersCol {
  width: $owners-col-width;
}

.balanceRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc($balance-col-width - rem(40));
}

.balanceCol {
  display: flex;
  align-items: center;
  gap: rem(10);
  max-width: rem(200);
}

.rankHead {
  width: $rank-col-width;
}

.artistHead {
  width: $artist-col-width;
}

.collectionsHead {
  width: $collections-col-width;
}

.ownersHead {
  width: $owners-col-width;
}

.balanceHead {
  width: $balance-col-width;
}
