.metamaskContainer {
  background: $primary-brand;
  align-items: center;
  justify-content: center;
  padding-bottom: rem(100px);
  min-height: 100vh;

  @include mobile {
    padding-left: rem(20px);
    padding-right: rem(20px);
    padding-bottom: rem(40px);
  }

  .leftContainer {
    .title {
      font-weight: 500;
      font-size: rem(24px);
      line-height: rem(34px);
      color: $secondary-purple-b;
      margin-bottom: rem(24px);
    }

    .subTitle {
      font-weight: 600;
      font-size: rem(48px);
      color: $white-100;
      line-height: rem(58px);
      margin-bottom: rem(24px);
    }

    .descItem {
      display: flex;
      align-items: center;
      margin-bottom: rem(8px);

      .icon {
        width: 20px;
        height: 20px;
        margin-right: rem(16px);
      }

      .text {
        font-weight: 400;
        font-size: rem(20px);
        line-height: rem(30px);
        color: #b6b6b6;
      }

      .link {
        color: #4185ec;
      }
    }

    .buttonContainer {
      margin-top: rem(64px);
      display: flex;
      flex-direction: row;
      align-items: center;

      .learnMoreButton {
        margin-left: rem(40px);
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        .learnMoreText {
          font-weight: 500;
          font-size: rem(16px);
          line-height: rem(26px);
          color: $white-100;
        }

        .learnMoreIcon {
          width: rem(20px);
          height: rem(20px);
          margin-left: rem(6px);
        }
      }
    }
  }
}
