.wrapper {
  .accordion-item {
    border: none;
  }

  .accordion_item {
    border: none;
  }

  .accordion_header {
    p {
      color: $black-100;
      font-size: rem(16px);
    }

    button {
      padding: 0;
      border: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: transparent;
      box-shadow: none;

      &:focus {
        box-shadow: none;
        border-color: rgb(0 0 0 / 12.5%);
      }

      &::after {
        display: none;
      }
    }
  }

  .accordion_icon {
    width: rem(28px);
    height: rem(28px);
    display: grid;
    place-items: center;
    border-radius: 50%;
  }

  .icOpen {
    transform: rotate(90deg);
  }

  .icClose {
    transform: rotate(-180deg);
  }

  .accordion_body {
    padding: 0;
    padding-top: rem(4px);
    color: $black-100;
  }
}
