.projectInfo {
  display: flex;
  gap: 16px;

  p {
    margin: 0;
  }
}

.thumbnail {
  aspect-ratio: 4 / 3;
  width: 40%;
  position: relative;
}

.info {
  flex: 1;

  h2 {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 18px;
  }
}

.mintProgress {
  margin-block: 16px;

  .progressWrapper {
    width: 100%;
    max-width: 620px;
    height: 5px;
    position: relative;

    .progressBar {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      background-color: #000;
    }
  }
}

.meta {
  margin-top: 16px;
  padding: 10px;
  border: 1px solid #a5a5a5;
  border-radius: 8px;
  width: fit-content;
}

.submitBtn {
  margin-top: 24px;
}

.desc {
  margin-block: 16px;
}

.tabs {
  border-bottom: 1px solid $black-20;
}

.tab {
  font-weight: 500;
  border: none !important;
  letter-spacing: -0.01em;
  color: $black-100 !important;
  padding: 10px 0 !important;

  line-height: (28 / 18);
  @include calcFontAuto(16px, 18px);

  &:global(.active) {
    border-bottom: 2px solid $black-100 !important;
  }
}

.filterWrapper {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 10px;
  // flex-wrap: wrap;

  @include mobile {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .filter_buy {
    display: flex;
    min-width: rem(150px);
    justify-content: space-between;

    @include mobile {
      min-width: rem(120px);
    }
  }

  .filter_sort {
    flex: 1;
    width: 100%;

    @include mobile {
      flex-direction: column;

      > div {
        width: 100%;
      }
    }
  }
}

.tokenListWrapper {
  position: relative;
  min-height: rem(584px);
}

.tokenList {
  padding-top: rem(48px);
  padding-bottom: rem(90px);

  @include mobile {
    padding-top: rem(20px);
    padding-bottom: rem(64px);
  }
}

.projectDetail_loading {
  // position: absolute;
  max-height: rem(510px);
  top: rem(70px);
}
