.tokenTopFilter {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;

  .inputWrapper {
    position: relative;
    border: 2px solid $black-20;
    flex: 1;

    @include mobile {
      order: 1;
      display: flex;
    }

    .input {
      padding: 11px 16px 11px 42px;
      font-weight: 500;
      line-height: (26/16);

      @include calcFontAuto(14px, 16px);

      width: 100%;

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $black-40;
        font-weight: 500;
        opacity: 1; /* Firefox */
      }

      &:input-placeholder {
        /* Internet Explorer 10-11 */
        color: $black-40;
        font-weight: 500;
      }

      &::input-placeholder {
        /* Microsoft Edge */
        color: $black-40;
        font-weight: 500;
      }
    }

    .inputPrefixWrapper {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 16px;
    }
  }

  .selectInput {
    :global(.select__control) {
      background-color: $white-100;
      outline: none;
      box-shadow: none;
      border-radius: 0;
      min-height: 52px;
      border: 2px solid $black-20;
      min-width: rem(250px);
    }

    :global(.select__indicator-separator) {
      display: none;
    }

    :global(.select__placeholder) {
      color: $black-40;
      font-weight: 500;
      line-height: (26/16);

      @include calcFontAuto(14px, 16px);
    }

    :global(.select__multi-value__label) {
      font-size: 14px;
      line-height: 14px;
      font-weight: 400;
    }

    :global(.select__input-container) {
      color: $black-100;
      font-weight: 500;
      line-height: (26/16);

      @include calcFontAuto(14px, 16px);
    }
  }

  .filterWrapper {
    > button {
      width: rem(97);
      animation: fade-in 0.1s ease;
    }
  }
}
