.wrapper {
  margin-top: rem(58);
  position: relative;

  .loading {
    background-color: $white;
  }
}

.referral_link {
  margin: {
    bottom: rem(48);
  }

  .link {
    display: flex;
    align-items: center;
    padding: rem(14) rem(11);
    gap: rem(20);
    border: 1px solid $black-10;
  }
}

.referee {
  gap: rem(10);
  padding-left: rem(5);
}

.actions {
  text-align: right;
}

.iconCopy {
  cursor: pointer;
  margin-left: 8px;

  :hover {
    opacity: 0.9;
  }
}

.switch_currency {
  justify-content: flex-end;
}

.Refferal_table {
  :global(tbody tr td) {
    padding: {
      top: rem(13) !important;
      bottom: rem(13) !important;
    }
  }
}

.Withdraw_all {
  &_btn {
    display: flex;
    align-items: center;
    gap: rem(10);
    margin-left: auto;

    .dots {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $white;
    }
  }
}
